{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "U-on API",
    "description" : "API - На основе выполненных запросов (отличается от документации представленной на портале https://api.u-on.ru/doc)",
    "version" : "1r"
  },
  "servers" : [ {
    "url" : "https://api.u-on.ru",
    "description" : "U-on api"
  }, {
    "url" : "https://virtserver.swaggerhub.com/alek-pol/U-on/1",
    "description" : "SwaggerHub API Auto Mocking"
  } ],
  "tags" : [ {
    "name" : "Managers",
    "description" : "Сотрудники компании"
  }, {
    "name" : "Users",
    "description" : "Туристы / Юр.лица / Турагентства"
  } ],
  "paths" : {
    "/{key}/manager.{_format}" : {
      "get" : {
        "tags" : [ "Managers" ],
        "summary" : "Список сотрудников компании",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/manager"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/manager"
                }
              }
            }
          },
          "404" : {
            "description" : "Запись не найдена"
          }
        }
      }
    },
    "/{key}/users/{page}.{_format}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Список туристов / юр.лиц / турагентств (постранично)",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "path",
          "description" : "Страница результатов (по 100 записей)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/users"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/users"
                }
              }
            }
          },
          "404" : {
            "description" : "Запись не найдена"
          }
        }
      }
    },
    "/{key}/user/updated/{date_from}/{date_to}/{page}.{_format}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Список обновленных туристов / юр.лиц / турагентств (постранично)",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "date_from",
          "in" : "path",
          "description" : "Дата последнего обновления туриста (от)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2}",
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "date_to",
          "in" : "path",
          "description" : "Дата последнего обновления туриста (до)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2}",
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "page",
          "in" : "path",
          "description" : "Страница результатов (по 100 записей)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/users"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/users"
                }
              }
            }
          },
          "404" : {
            "description" : "Запись не найдена"
          }
        }
      }
    },
    "/{key}/user/phone/{phone}.{_format}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Поиск туриста / юр.лица / турагентства по номеру телефона",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "phone",
          "in" : "path",
          "description" : "Номер телефона",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^\\+\\d*$|^\\d*$",
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/users"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/users"
                }
              }
            }
          },
          "404" : {
            "description" : "Запись не найдена"
          }
        }
      }
    },
    "/{key}/user/email.{_format}" : {
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Поиск туриста / юр.лица / турагентства по E-mail",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/users"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/users"
                }
              }
            }
          },
          "404" : {
            "description" : "Запись не найдена"
          }
        }
      }
    },
    "/{key}/user/search.{_format}" : {
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Получение данных пользователей по фильтрам",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/users_search"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/users_search"
                }
              }
            }
          },
          "404" : {
            "description" : "Запись не найдена"
          }
        }
      }
    },
    "/{key}/user/{id}.{_format}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Получение данных по конкретному туристу / юр.лицу / турагентству",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "ID туриста / компании / турагентства",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/user"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/user"
                }
              },
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "404" : {
            "description" : "Запись не найдена"
          }
        }
      }
    },
    "/{key}/user/create.{_format}" : {
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Добавление туриста / юр.лица / турагентства",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/user_create"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/200_result_id"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/200_result_id"
                }
              }
            }
          },
          "404" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        }
      }
    },
    "/{key}/user/update/{id}.{_format}" : {
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Обновление туриста / юр.лица / турагентства",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "ID туриста / компании / турагентства",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/user_update"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/user_update"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/200_result_id"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/200_result_id"
                }
              }
            }
          },
          "404" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404_1"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404_1"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "manager" : {
        "type" : "object",
        "properties" : {
          "users" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/manager_users"
            }
          }
        },
        "description" : "Список сотрудников"
      },
      "user" : {
        "type" : "object",
        "properties" : {
          "users" : {
            "type" : "array",
            "items" : {
              "oneOf" : [ {
                "$ref" : "#/components/schemas/user_type_1"
              }, {
                "$ref" : "#/components/schemas/user_type_2"
              } ]
            }
          }
        },
        "description" : "Один из (турист / юр.лицо / турагентство)"
      },
      "users" : {
        "type" : "object",
        "properties" : {
          "users" : {
            "type" : "array",
            "items" : {
              "anyOf" : [ {
                "$ref" : "#/components/schemas/user_type_1"
              }, {
                "$ref" : "#/components/schemas/user_type_2"
              } ]
            }
          }
        },
        "description" : "Список туристов; юр.лиц; турагентств"
      },
      "users_search" : {
        "type" : "object",
        "properties" : {
          "users" : {
            "type" : "array",
            "items" : {
              "anyOf" : [ {
                "$ref" : "#/components/schemas/user_type_1"
              }, {
                "$ref" : "#/components/schemas/user_type_2"
              } ]
            }
          },
          "count_all" : {
            "type" : "string",
            "description" : "Найдено записей"
          }
        },
        "description" : "Список туристов; юр.лиц; турагентств"
      },
      "user_create" : {
        "required" : [ "u_name" ],
        "type" : "object",
        "properties" : {
          "u_type" : {
            "type" : "integer",
            "description" : "Тип записи (1 - физ.лицо, 2 - юр.лицо, 3 - турагентство)"
          },
          "u_tk_id" : {
            "type" : "integer",
            "description" : "Обращение (0 - не заполнено, 1 - Mr., 2 - Mrs., 3 - Miss, 4 - Child, 5 - Infant)"
          },
          "u_company" : {
            "type" : "string",
            "description" : "Название компании (для юр.лица)"
          },
          "u_name" : {
            "type" : "string",
            "description" : "Имя туриста / контактного лица"
          },
          "u_surname" : {
            "type" : "string",
            "description" : "Фамилия туриста / контактного лица"
          },
          "u_sname" : {
            "type" : "string",
            "description" : "Отчество туриста / контактного лица"
          },
          "u_name_en" : {
            "type" : "string",
            "description" : "Имя туриста / контактного лица (латиницей)"
          },
          "u_surname_en" : {
            "type" : "string",
            "description" : "Фамилия туриста / контактного лица (латиницей)"
          },
          "u_phone" : {
            "type" : "string",
            "description" : "Телефон туриста / контактного лица"
          },
          "u_phone_mobile" : {
            "type" : "string",
            "description" : "Телефон (мобильный)"
          },
          "u_email" : {
            "type" : "string",
            "description" : "E-mail туриста / контактного лица"
          },
          "u_birthday" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2}",
            "type" : "string",
            "description" : "День рождения",
            "format" : "date"
          },
          "u_birthday_place" : {
            "type" : "string",
            "description" : "Место рождения"
          },
          "u_birthday_certificate" : {
            "type" : "string",
            "description" : "Свидетельство о рождении"
          },
          "u_birthday_certificate_given" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2}",
            "type" : "string",
            "description" : "Свидетельство о рождении (дата выдачи)",
            "format" : "date"
          },
          "u_birthday_certificate_organization" : {
            "type" : "string",
            "description" : "Свидетельство о рождении (кем выдано)"
          },
          "u_zagran_number" : {
            "type" : "string",
            "description" : "Загранпаспорт (серия и номер)"
          },
          "u_zagran_given" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2}",
            "type" : "string",
            "description" : "Загранпаспорт (дата выдачи)",
            "format" : "date"
          },
          "u_zagran_expire" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2}",
            "type" : "string",
            "description" : "Загранпаспорт (дата окончания)",
            "format" : "date"
          },
          "u_zagran_organization" : {
            "type" : "string",
            "description" : "Загранпаспорт (кем выдан)"
          },
          "u_passport_number" : {
            "type" : "string",
            "description" : "Гражданский паспорт (серия и номер)"
          },
          "u_passport_taken" : {
            "type" : "string",
            "description" : "Гражданский паспорт (кем выдан)"
          },
          "u_passport_date" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2}",
            "type" : "string",
            "description" : "Гражданский паспорт (дата выдачи)",
            "format" : "date"
          },
          "u_address" : {
            "type" : "string",
            "description" : "Адрес регистрации"
          },
          "u_password" : {
            "type" : "string",
            "description" : "Пароль"
          },
          "u_sex" : {
            "type" : "integer",
            "description" : "Пол (0 - не указан, 1 - муж., 2 - жен.)"
          },
          "u_note" : {
            "type" : "string",
            "description" : "Примечание"
          },
          "u_address_u" : {
            "type" : "string",
            "description" : "Юридический адрес (для юр.лиц)"
          },
          "u_fax" : {
            "type" : "string",
            "description" : "Факс (для юр.лиц)"
          },
          "u_inn" : {
            "type" : "string",
            "description" : "ИНН"
          },
          "u_kpp" : {
            "type" : "string",
            "description" : "КПП (для юр.лиц)"
          },
          "u_ogrn" : {
            "type" : "string",
            "description" : "ОГРН (для юр.лиц)"
          },
          "u_okved" : {
            "type" : "string",
            "description" : "ОКВЭД (для юр.лиц)"
          },
          "u_finance_bank" : {
            "type" : "string",
            "description" : "Наименование банка (для юр.лиц)"
          },
          "u_finance_rs" : {
            "type" : "string",
            "description" : "Р/с (для юр.лиц)"
          },
          "u_finance_ks" : {
            "type" : "string",
            "description" : "К/с (для юр.лиц)"
          },
          "u_finance_bik" : {
            "type" : "string",
            "description" : "БИК (для юр.лиц)"
          },
          "u_finance_okpo" : {
            "type" : "string",
            "description" : "ОКПО (для юр.лиц)"
          },
          "u_social_vk" : {
            "type" : "string",
            "description" : "Аккаунт во Вконтакте"
          },
          "u_social_fb" : {
            "type" : "string",
            "description" : "Аккаунт в Facebook"
          },
          "u_social_ok" : {
            "type" : "string",
            "description" : "Аккаунт в Одноклассниках"
          },
          "u_telegram" : {
            "type" : "string",
            "description" : "Аккаунт в Telegram"
          },
          "u_whatsapp" : {
            "type" : "string",
            "description" : "Аккаунт в Whatsapp"
          },
          "u_viber" : {
            "type" : "string",
            "description" : "Аккаунт в Vibe"
          },
          "u_instagram" : {
            "type" : "string",
            "description" : "Аккаунт в Instagram"
          },
          "u_discount_card_number" : {
            "type" : "string",
            "description" : "Бонусная карта (Номер)"
          },
          "u_discount_card_bonus" : {
            "type" : "integer",
            "description" : "Бонусная карта (Количество бонусов на карте)"
          },
          "u_labels" : {
            "type" : "string",
            "description" : "Список меток (через запятую)"
          },
          "nationality_id" : {
            "type" : "integer",
            "description" : "ID страны (см. метод /countries)"
          },
          "u_office_id" : {
            "type" : "integer",
            "description" : "ID офиса (см. метод /company-office)"
          },
          "u_manager_id" : {
            "type" : "integer",
            "description" : "ID прикрепленного менеджера (см. метод /manager)"
          },
          "u_source" : {
            "type" : "integer",
            "description" : "ID туриста\\компании, который привел добавляемого туриста"
          },
          "extended_fields" : {
            "type" : "array",
            "description" : "Массив значений дополнительных полей в виде [ID доп.поля => значение, ID доп.поля2 => значение2, ...] (см.метод /extended_field). ВАЖНО! Чтобы дополнительное поле относилось к туристам",
            "items" : {
              "$ref" : "#/components/schemas/user_create_extended_fields"
            }
          }
        },
        "description" : "Параметры создаваемого пользователя"
      },
      "user_update" : {
        "type" : "object",
        "properties" : {
          "u_name" : {
            "type" : "string",
            "description" : "Имя туриста / контактного лица"
          }
        },
        "description" : "Обновляемые параметры пользователя"
      },
      "user_type_1" : {
        "type" : "object",
        "properties" : {
          "global_u_id" : {
            "type" : "integer",
            "description" : "Global ID"
          },
          "u_id" : {
            "type" : "integer",
            "description" : "ID"
          },
          "u_type" : {
            "type" : "integer",
            "description" : "Тип записи (1 - физ.лицо)"
          },
          "tourist_kind" : {
            "type" : "integer",
            "description" : "Обращение (0 - не заполнено, 1 - Mr., 2 - Mrs., 3 - Miss, 4 - Child, 5 - Infant)"
          },
          "u_surname" : {
            "type" : "string",
            "description" : "Фамилия туриста"
          },
          "u_name" : {
            "type" : "string",
            "description" : "Имя туриста"
          },
          "u_sname" : {
            "type" : "string",
            "description" : "Отчество туриста"
          },
          "u_surname_en" : {
            "type" : "string",
            "description" : "Фамилия туриста (латиницей)"
          },
          "u_name_en" : {
            "type" : "string",
            "description" : "Имя туриста (латиницей)"
          },
          "u_email" : {
            "type" : "string",
            "description" : "E-mail туриста"
          },
          "u_sex" : {
            "type" : "string",
            "description" : "Пол туриста (0 - не указан, 1 - муж., 2 - жен.)"
          },
          "u_phone" : {
            "type" : "string",
            "description" : "Телефон"
          },
          "u_phone_mobile" : {
            "type" : "string",
            "description" : "Телефон (мобильный)"
          },
          "u_phone_home" : {
            "type" : "string",
            "description" : "Телефон (домашний)"
          },
          "u_passport_number" : {
            "type" : "string",
            "description" : "Гражданский паспорт (серия и номер)"
          },
          "u_passport_taken" : {
            "type" : "string",
            "description" : "Гражданский паспорт (кем выдан)"
          },
          "u_passport_date" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Гражданский паспорт (дата выдачи)",
            "format" : "date-time"
          },
          "u_zagran_number" : {
            "type" : "string",
            "description" : "Загранпаспорт (серия и номер)"
          },
          "u_zagran_given" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Загранпаспорт (дата выдачи)",
            "format" : "date-time"
          },
          "u_zagran_expire" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Загранпаспорт (дата действия)",
            "format" : "date-time"
          },
          "u_zagran_organization" : {
            "type" : "string",
            "description" : "Загранпаспорт (кем выдан)"
          },
          "u_birthday" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "День рождения",
            "format" : "date-time"
          },
          "u_birthday_place" : {
            "type" : "string",
            "description" : "Место рождения"
          },
          "u_birthday_certificate" : {
            "type" : "string",
            "description" : "Свидетельство о рождении"
          },
          "manager_id" : {
            "type" : "integer",
            "description" : "Прикрепленный менеджер (id)"
          },
          "u_social_vk" : {
            "type" : "string",
            "description" : "Аккаунт во Вконтакте"
          },
          "u_social_fb" : {
            "type" : "string",
            "description" : "Аккаунт в Facebook"
          },
          "u_social_ok" : {
            "type" : "string",
            "description" : "Аккаунт в Одноклассниках"
          },
          "u_telegram" : {
            "type" : "string",
            "description" : "Аккаунт в Telegram"
          },
          "u_whatsapp" : {
            "type" : "string",
            "description" : "Аккаунт в Whatsapp"
          },
          "u_viber" : {
            "type" : "string",
            "description" : "Аккаунт в Vibe"
          },
          "u_instagram" : {
            "type" : "string",
            "description" : "Аккаунт в Instagram"
          },
          "u_image" : {
            "type" : "string",
            "description" : "Фото пользователя (URL)"
          },
          "u_note" : {
            "type" : "string",
            "description" : "Примечание"
          },
          "timezone" : {
            "type" : "string",
            "description" : "Часовой пояс (относительно UTC/GMT)"
          },
          "source_id" : {
            "type" : "integer",
            "description" : "ID туриста\\компании, который привел добавляемого туриста"
          },
          "u_manager_status" : {
            "type" : "integer"
          },
          "u_company" : {
            "type" : "string",
            "description" : "Название компании"
          },
          "u_inn" : {
            "type" : "string",
            "description" : "ИНН"
          },
          "address" : {
            "type" : "string",
            "description" : "Адрес регистрации"
          },
          "delivery_subscription" : {
            "type" : "integer",
            "description" : "Согласие на получение массовых рассылок  (0 - Нет, 1 - Да)"
          },
          "bcard_id" : {
            "type" : "integer",
            "description" : "Бонусная карта (Id)"
          },
          "bcard_number" : {
            "type" : "string",
            "description" : "Бонусная карта (Номер)"
          },
          "bcard_value" : {
            "type" : "integer",
            "description" : "Бонусная карта (Количество бонусов на карте)"
          },
          "role_id" : {
            "type" : "integer",
            "description" : "Группа доступа"
          },
          "active" : {
            "type" : "integer",
            "description" : "Активная учетная запись (0 - Нет, 1 - Да)"
          },
          "deleted" : {
            "type" : "integer",
            "description" : "Удаленная учетная запись (0 - Нет, 1 - Да)"
          },
          "ip_internal_number" : {
            "type" : "string",
            "description" : "Внутренний номер IP-телефонии"
          },
          "labels" : {
            "type" : "string",
            "description" : "Метки (Один или несколько вариантов - \"VIP,Эконом,Лид,Семья,Постоянный клиент,Ездит один,Активный отдых,Экскурсионный отдых,Новый Год\")"
          },
          "u_date_update" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Дата и время последнего обновления записи",
            "format" : "date-time"
          },
          "cabinet_created" : {
            "type" : "integer",
            "description" : "Личный кабинет (0 - отсутствует, 1 - создан)"
          },
          "cabinet_created_date" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Личный кабинет (дата создания)",
            "format" : "date-time"
          },
          "extended_fields" : {
            "type" : "array",
            "description" : "Дополнительные поля (см.метод /extended_field)",
            "items" : {
              "$ref" : "#/components/schemas/user_create_extended_fields"
            }
          }
        },
        "description" : "Турист (физ.лицо)"
      },
      "user_type_2" : {
        "type" : "object",
        "properties" : {
          "global_u_id" : {
            "type" : "integer",
            "description" : "Global ID"
          },
          "u_id" : {
            "type" : "integer",
            "description" : "ID"
          },
          "u_type" : {
            "type" : "integer",
            "description" : "Тип записи (2 - юр.лицо, 3 - турагентство)"
          },
          "u_surname" : {
            "type" : "string",
            "description" : "Контактное лицо (фамилия)"
          },
          "u_name" : {
            "type" : "string",
            "description" : "Контактное лицо (имя)"
          },
          "u_sname" : {
            "type" : "string",
            "description" : "Контактное лицо (отчество)"
          },
          "u_surname_en" : {
            "type" : "string",
            "description" : "Контактное лицо (фамилия лат.)"
          },
          "u_name_en" : {
            "type" : "string",
            "description" : "Контактное лицо (имя лат.)"
          },
          "u_email" : {
            "type" : "string",
            "description" : "E-mail"
          },
          "u_sex" : {
            "type" : "integer",
            "description" : "Пол (0 - не указан, 1 - муж., 2 - жен.)"
          },
          "u_fax" : {
            "type" : "string",
            "description" : "Факс"
          },
          "u_phone" : {
            "type" : "string",
            "description" : "Телефон (контактный)"
          },
          "u_phone_mobile" : {
            "type" : "string",
            "description" : "Телефон (мобильный)"
          },
          "u_passport_number" : {
            "type" : "string",
            "description" : "Гражданский паспорт (серия и номер)"
          },
          "u_passport_taken" : {
            "type" : "string",
            "description" : "Гражданский паспорт (кем выдан)"
          },
          "u_zagran_number" : {
            "type" : "string",
            "description" : "Загранпаспорт (серия и номер)"
          },
          "manager_id" : {
            "type" : "integer",
            "description" : "Прикрепленный менеджер (id)"
          },
          "u_social_vk" : {
            "type" : "string",
            "description" : "Аккаунт во Вконтакте"
          },
          "u_social_fb" : {
            "type" : "string",
            "description" : "Аккаунт в Facebook"
          },
          "u_social_ok" : {
            "type" : "string",
            "description" : "Аккаунт в Одноклассниках"
          },
          "u_telegram" : {
            "type" : "string",
            "description" : "Аккаунт в Telegram"
          },
          "u_whatsapp" : {
            "type" : "string",
            "description" : "Аккаунт в Whatsapp"
          },
          "u_viber" : {
            "type" : "string",
            "description" : "Аккаунт в Viber"
          },
          "u_instagram" : {
            "type" : "string",
            "description" : "Аккаунт в Instagram"
          },
          "u_image" : {
            "type" : "string",
            "description" : "Фото (URL)"
          },
          "u_note" : {
            "type" : "string",
            "description" : "Примечание"
          },
          "timezone" : {
            "type" : "string",
            "description" : "Часовой пояс (относительно UTC/GMT)"
          },
          "source_id" : {
            "type" : "integer",
            "description" : "ID туриста\\компании, который привел добавляемое юр.лицо"
          },
          "u_position" : {
            "type" : "string",
            "description" : "Должность (контактного лица)"
          },
          "u_manager_status" : {
            "type" : "integer"
          },
          "u_company" : {
            "type" : "string",
            "description" : "Название компании"
          },
          "u_inn" : {
            "type" : "string",
            "description" : "ИНН"
          },
          "u_kpp" : {
            "type" : "string",
            "description" : "КПП"
          },
          "u_ogrn" : {
            "type" : "string",
            "description" : "ОГРН"
          },
          "u_okved" : {
            "type" : "string",
            "description" : "ОКВЭД"
          },
          "address" : {
            "type" : "string",
            "description" : "Адрес"
          },
          "address_juridical" : {
            "type" : "string",
            "description" : "Адрес юридический"
          },
          "u_finance_bank" : {
            "type" : "string",
            "description" : "Наименование банка"
          },
          "u_finance_rs" : {
            "type" : "string",
            "description" : "Р/с"
          },
          "u_finance_ks" : {
            "type" : "string",
            "description" : "К/с"
          },
          "u_finance_bik" : {
            "type" : "string",
            "description" : "БИК"
          },
          "u_finance_okpo" : {
            "type" : "string",
            "description" : "ОКПО"
          },
          "delivery_subscription" : {
            "type" : "integer",
            "description" : "Согласие на получение массовых рассылок (0 - Нет, 1 - Да)"
          },
          "bcard_id" : {
            "type" : "integer",
            "description" : "Бонусная карта (Id)"
          },
          "bcard_number" : {
            "type" : "string",
            "description" : "Бонусная карта (Номер)"
          },
          "bcard_value" : {
            "type" : "integer",
            "description" : "Бонусная карта (Количество бонусов на карте)"
          },
          "role_id" : {
            "type" : "integer",
            "description" : "Группа доступа"
          },
          "active" : {
            "type" : "integer",
            "description" : "Активная учетная запись (0 - Нет, 1 - Да)"
          },
          "deleted" : {
            "type" : "integer",
            "description" : "Удаленная учетная запись (0 - Нет, 1 - Да)"
          },
          "ip_internal_number" : {
            "type" : "string",
            "description" : "Внутренний номер IP-телефонии"
          },
          "labels" : {
            "type" : "string",
            "description" : "Метки (Один или несколько вариантов - \"VIP,Эконом,Лид,Семья,Постоянный клиент,Ездит один,Активный отдых,Экскурсионный отдых,Новый Год\")"
          },
          "u_date_update" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "bb Дата и время последнего обновления записи",
            "format" : "date-time"
          },
          "cabinet_created" : {
            "type" : "integer",
            "description" : "Личный кабинет (0 - отсутствует, 1 - создан)"
          },
          "cabinet_created_date" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Личный кабинет (дата создания)",
            "format" : "date-time"
          },
          "extended_fields" : {
            "type" : "array",
            "description" : "Дополнительные поля (см.метод /extended_field)",
            "items" : {
              "$ref" : "#/components/schemas/user_create_extended_fields"
            }
          }
        },
        "description" : "Юридическое лицо / Турагентство"
      },
      "200_result_id" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "integer",
            "example" : 200
          },
          "id" : {
            "type" : "string",
            "example" : "11"
          }
        },
        "description" : "Успешное выполнение (200 и id)"
      },
      "400_bad_request" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "integer",
            "example" : 400
          },
          "message" : {
            "type" : "string",
            "example" : "Bad Request"
          }
        },
        "description" : "Ошибка в запросе"
      },
      "404_wrong_key" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "integer",
            "example" : 404
          },
          "message" : {
            "type" : "string",
            "example" : "Partner key is wrong"
          }
        },
        "description" : "Партнерский ключ неверен"
      },
      "404_empty_field" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "integer",
            "example" : 404
          },
          "message" : {
            "type" : "string",
            "example" : "Field <_____> is empty"
          }
        },
        "description" : "Не заполнено обязательное поле"
      },
      "body" : {
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "E-mail"
          }
        }
      },
      "body_1" : {
        "type" : "object",
        "properties" : {
          "vkontakte" : {
            "type" : "string",
            "description" : "Аккаунт в Vkontakte"
          },
          "facebook" : {
            "type" : "string",
            "description" : "Аккаунт в Facebook"
          },
          "odnoklassniki" : {
            "type" : "string",
            "description" : "Аккаунт в Odnoklassniki"
          },
          "telegram" : {
            "type" : "string",
            "description" : "Аккаунт в Telegram"
          },
          "whatsapp" : {
            "type" : "string",
            "description" : "Аккаунт в Whatsapp"
          },
          "viber" : {
            "type" : "string",
            "description" : "Аккаунт в Viber"
          },
          "instagram" : {
            "type" : "string",
            "description" : "Аккаунт в Instagram"
          },
          "label_ids" : {
            "type" : "string",
            "description" : "ID меток через запятую"
          },
          "part_match" : {
            "type" : "integer",
            "description" : "Полное совпадение (по-умолчанию) или частичное (=1)"
          },
          "page" : {
            "type" : "integer",
            "description" : "Номер страницы выдачи (по-умолчанию, 1)"
          }
        }
      },
      "inline_response_404" : {
        "oneOf" : [ {
          "$ref" : "#/components/schemas/400_bad_request"
        }, {
          "$ref" : "#/components/schemas/404_wrong_key"
        }, {
          "$ref" : "#/components/schemas/404_empty_field"
        } ]
      },
      "inline_response_404_1" : {
        "oneOf" : [ {
          "$ref" : "#/components/schemas/400_bad_request"
        }, {
          "$ref" : "#/components/schemas/404_wrong_key"
        } ]
      },
      "manager_users" : {
        "type" : "object",
        "properties" : {
          "global_u_id" : {
            "type" : "integer",
            "description" : "Global ID"
          },
          "u_id" : {
            "type" : "integer",
            "description" : "ID"
          },
          "u_type" : {
            "type" : "integer",
            "description" : "Тип записи (1 - физ.лицо, 2 - юр.лицо, 3 - турагентство)"
          },
          "u_surname" : {
            "type" : "string",
            "description" : "Фамилия"
          },
          "u_name" : {
            "type" : "string",
            "description" : "Имя"
          },
          "u_sname" : {
            "type" : "string",
            "description" : "Отчество"
          },
          "u_surname_en" : {
            "type" : "string",
            "description" : "Фамилия (англ.)"
          },
          "u_name_en" : {
            "type" : "string",
            "description" : "Имя (англ.)"
          },
          "u_email" : {
            "type" : "string",
            "description" : "E-mail"
          },
          "u_sex" : {
            "type" : "integer",
            "description" : "Пол (0 - не указан, 1 - муж., 2 - жен.)"
          },
          "u_phone" : {
            "type" : "string",
            "description" : "Телефон"
          },
          "u_phone_mobile" : {
            "type" : "string",
            "description" : "Телефон (мобильный)"
          },
          "u_phone_home" : {
            "type" : "string",
            "description" : "Телефон (домашний)"
          },
          "u_passport_number" : {
            "type" : "string",
            "description" : "Гражданский паспорт (серия и номер)"
          },
          "u_passport_taken" : {
            "type" : "string",
            "description" : "Гражданский паспорт (кем выдан)"
          },
          "u_zagran_number\"" : {
            "type" : "string",
            "description" : "Загранпаспорт (серия и номер)"
          },
          "u_birthday" : {
            "type" : "string",
            "description" : "День рождения",
            "format" : "date-time"
          },
          "manager_id" : {
            "type" : "integer",
            "description" : "Прикрепленный менеджер"
          },
          "u_social_vk" : {
            "type" : "string",
            "description" : "Аккаунт во Вконтакте"
          },
          "u_social_fb" : {
            "type" : "string",
            "description" : "Аккаунт в Facebook"
          },
          "u_social_ok" : {
            "type" : "string",
            "description" : "Аккаунт в Одноклассниках"
          },
          "u_telegram" : {
            "type" : "string",
            "description" : "Аккаунт в Telegram"
          },
          "u_whatsapp" : {
            "type" : "string",
            "description" : "Аккаунт в Whatsapp"
          },
          "u_viber" : {
            "type" : "string",
            "description" : "Аккаунт в Viber"
          },
          "u_instagram" : {
            "type" : "string",
            "description" : "Аккаунт в Instagram"
          },
          "u_image" : {
            "type" : "string",
            "description" : "Фото пользователя (URL)"
          },
          "u_note" : {
            "type" : "string",
            "description" : "Примечание"
          },
          "timezone" : {
            "type" : "string",
            "description" : "Часовой пояс (относительно UTC/GMT)"
          },
          "source_id" : {
            "type" : "integer",
            "description" : "Кто привел (Id)"
          },
          "u_position" : {
            "type" : "string",
            "description" : "Должность"
          },
          "u_manager_status" : {
            "type" : "integer"
          },
          "u_company" : {
            "type" : "string",
            "description" : "Название компании (для юр.лица)"
          },
          "delivery_subscription" : {
            "type" : "integer",
            "description" : "Согласие на получение массовых рассылок"
          },
          "role_id" : {
            "type" : "integer",
            "description" : "Группа доступа"
          },
          "office_id" : {
            "type" : "integer",
            "description" : "ID офиса"
          },
          "active" : {
            "type" : "integer",
            "description" : "Активная учетная запись (0 - Нет, 1 - Да)"
          },
          "deleted" : {
            "type" : "integer",
            "description" : "Удаленная учетная запись (0 - Нет, 1 - Да)"
          },
          "ip_internal_number" : {
            "type" : "string",
            "description" : "Внутренний номер IP-телефонии"
          },
          "u_date_update" : {
            "type" : "string",
            "description" : "Дата и время последнего обновления записи",
            "format" : "date-time"
          },
          "cabinet_created" : {
            "type" : "integer",
            "description" : "Личный кабинет (0 - отсутствует, 1 - создан)"
          },
          "cabinet_created_date" : {
            "type" : "string",
            "description" : "Личный кабинет (дата создания)",
            "format" : "date-time"
          },
          "my_new_lead_notification" : {
            "type" : "integer",
            "description" : "Уведомление при создании обращения(Менеджер указан ответственным в обращении)"
          },
          "any_new_lead_notification" : {
            "type" : "integer",
            "description" : "Уведомление при создании обращения (По ВСЕМ обращениям, независимо от прикрепленного менеджера)"
          },
          "my_new_request_notification" : {
            "type" : "integer",
            "description" : "Уведомление при создании заявки (Менеджер указан ответственным в заявке)"
          },
          "any_new_request_notification" : {
            "type" : "integer",
            "description" : "Уведомление при создании заявки (По ВСЕМ заявкам, независимо от прикрепленного менеджера)"
          }
        }
      },
      "user_create_extended_fields" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "Дополнительное поле (id)"
          },
          "value" : {
            "type" : "string",
            "description" : "Дополнительное поле (значение)"
          }
        }
      }
    },
    "responses" : {
      "200_result_id" : {
        "description" : "Успешное выполнение",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/200_result_id"
            }
          },
          "application/xml" : {
            "schema" : {
              "$ref" : "#/components/schemas/200_result_id"
            }
          }
        }
      },
      "400_bad_request" : {
        "description" : "Ошибка в запросе",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/400_bad_request"
            }
          },
          "application/xml" : {
            "schema" : {
              "$ref" : "#/components/schemas/400_bad_request"
            }
          }
        }
      },
      "404_wrong_key" : {
        "description" : "Партнерский ключ неверен",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/404_wrong_key"
            }
          },
          "application/xml" : {
            "schema" : {
              "$ref" : "#/components/schemas/404_wrong_key"
            }
          }
        }
      },
      "404_empty_field" : {
        "description" : "Не заполнено обязательное поле",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/404_empty_field"
            }
          },
          "application/xml" : {
            "schema" : {
              "$ref" : "#/components/schemas/404_empty_field"
            }
          }
        }
      }
    },
    "parameters" : {
      "keyParam" : {
        "name" : "key",
        "in" : "path",
        "description" : "API-ключ",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      },
      "formatParam" : {
        "name" : "_format",
        "in" : "path",
        "description" : "Формат выдачи результатов (json|xml)",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string",
          "default" : "json"
        }
      },
      "idParam" : {
        "name" : "id",
        "in" : "path",
        "description" : "ID туриста / компании / турагентства",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "integer"
        }
      },
      "pageParam" : {
        "name" : "page",
        "in" : "path",
        "description" : "Страница результатов (по 100 записей)",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "integer"
        }
      },
      "dateFromParam" : {
        "name" : "date_from",
        "in" : "path",
        "description" : "Дата последнего обновления туриста (от)",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "pattern" : "\\d{4}-\\d{2}-\\d{2}",
          "type" : "string",
          "format" : "date"
        }
      },
      "dateToParam" : {
        "name" : "date_to",
        "in" : "path",
        "description" : "Дата последнего обновления туриста (до)",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "pattern" : "\\d{4}-\\d{2}-\\d{2}",
          "type" : "string",
          "format" : "date"
        }
      },
      "phoneParam" : {
        "name" : "phone",
        "in" : "path",
        "description" : "Номер телефона",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "pattern" : "^\\+\\d*$|^\\d*$",
          "type" : "string",
          "format" : "date"
        }
      }
    },
    "requestBodies" : {
      "user_update" : {
        "description" : "Обновляемые параметры пользователя",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/user_update"
            }
          },
          "application/xml" : {
            "schema" : {
              "$ref" : "#/components/schemas/user_update"
            }
          }
        }
      }
    }
  }
}