{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "U-on API",
    "description" : "API - На основе выполненных запросов (отличается от документации представленной на портале https://api.u-on.ru/doc)",
    "contact" : {
      "email" : "alek_pol@outlook.com"
    },
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://api.u-on.ru/{key}",
    "variables" : {
      "key" : {
        "description" : "key"
      }
    }
  } ],
  "tags" : [ {
    "name" : "Managers",
    "description" : "Сотрудники компании"
  }, {
    "name" : "Users",
    "description" : "Туристы / Юр.лица / Турагентства"
  }, {
    "name" : "Leads",
    "description" : "Обращения"
  }, {
    "name" : "Webhooks",
    "description" : "Вебхуки"
  }, {
    "name" : "Call history",
    "description" : "Информация о звонках"
  }, {
    "name" : "Countries",
    "description" : "Страны"
  }, {
    "name" : "Service types",
    "description" : "Типы услуг"
  } ],
  "paths" : {
    "/manager.{_format}" : {
      "get" : {
        "tags" : [ "Managers" ],
        "summary" : "Список сотрудников компании",
        "parameters" : [ {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/manager"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        }
      }
    },
    "/users/{page}.{_format}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Список туристов / юр.лиц / турагентств (постранично)",
        "parameters" : [ {
          "name" : "page",
          "in" : "path",
          "description" : "Страница результатов (по 100 записей)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "500" : {
            "description" : "Внутренняя ошибка сервера (Note! Header status - 404 Not Found)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/user/updated/{date_from}/{date_to}/{page}.{_format}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Список обновленных туристов / юр.лиц / турагентств (постранично)",
        "parameters" : [ {
          "name" : "date_from",
          "in" : "path",
          "description" : "Дата последнего обновления туриста (от)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2}",
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "date_to",
          "in" : "path",
          "description" : "Дата последнего обновления туриста (до)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2}",
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "page",
          "in" : "path",
          "description" : "Страница результатов (по 100 записей)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "500" : {
            "description" : "Внутренняя ошибка сервера (Note! Header status - 404 Not Found)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/user/phone/{phone}.{_format}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Поиск туриста / юр.лица / турагентства по номеру телефона",
        "parameters" : [ {
          "name" : "phone",
          "in" : "path",
          "description" : "Номер телефона",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^\\+\\d*$|^\\d*$",
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_2"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        }
      }
    },
    "/user/email.{_format}" : {
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Поиск туриста / юр.лица / турагентства по E-mail",
        "parameters" : [ {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "allOf" : [ {
                      "$ref" : "#/components/schemas/model_user_simple"
                    }, {
                      "type" : "object",
                      "properties" : {
                        "delivery_subscription" : {
                          "type" : "string",
                          "description" : "Согласие на получение массовых рассылок (0 - Нет, 1 - Да)"
                        },
                        "timezone" : {
                          "type" : "string",
                          "description" : "Часовой пояс (относительно UTC/GMT)"
                        },
                        "source_id" : {
                          "type" : "string",
                          "description" : "ID туриста \\ компании, который привел добавляемого туриста"
                        },
                        "nationality_id" : {
                          "type" : "string",
                          "description" : "Страна (Id)"
                        },
                        "nationality" : {
                          "type" : "string",
                          "description" : "Страна"
                        }
                      }
                    } ]
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "204 No Content"
          },
          "400" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "404" : {
            "description" : "Ошибка (Не заполнено поле или Партнерский ключ)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404_1"
                }
              }
            }
          }
        }
      }
    },
    "/user/search.{_format}" : {
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Получение данных пользователей по фильтрам",
        "parameters" : [ {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_3"
                }
              }
            }
          },
          "400" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "500" : {
            "description" : "Внутренняя ошибка сервера (Note! Header status - 404 Not Found)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/user/{id}.{_format}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Получение данных по конкретному туристу / юр.лицу / турагентству",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_4"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        }
      }
    },
    "/user/create.{_format}" : {
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Добавление туриста / юр.лица / турагентства",
        "parameters" : [ {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_5"
                }
              }
            }
          },
          "400" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/400_bad_request"
                }
              }
            }
          },
          "404" : {
            "description" : "Ошибка (Не заполнено поле или Партнерский ключ)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404_1"
                }
              }
            }
          }
        }
      }
    },
    "/user/update/{id}.{_format}" : {
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Обновление туриста / юр.лица / турагентства",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_3"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_5"
                }
              }
            }
          },
          "400" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/400_bad_request"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{date_from}/{date_to}/{page}.{_format}" : {
      "get" : {
        "tags" : [ "Leads" ],
        "summary" : "Получение данных по обращениям",
        "parameters" : [ {
          "name" : "date_from",
          "in" : "path",
          "description" : "Дата последнего обновления туриста (от)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2}",
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "date_to",
          "in" : "path",
          "description" : "Дата последнего обновления туриста (до)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2}",
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "page",
          "in" : "path",
          "description" : "Страница результатов (по 100 записей)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_6"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "500" : {
            "description" : "Внутренняя ошибка сервера (Note! Header status - 404 Not Found)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{date_from}/{date_to}/{source_id}/{page}.{_format}" : {
      "get" : {
        "tags" : [ "Leads" ],
        "summary" : "Получение данных по обращениям согласно источнику",
        "parameters" : [ {
          "name" : "date_from",
          "in" : "path",
          "description" : "Дата последнего обновления туриста (от)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2}",
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "date_to",
          "in" : "path",
          "description" : "Дата последнего обновления туриста (до)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2}",
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "source_id",
          "in" : "path",
          "description" : "Id источника",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "page",
          "in" : "path",
          "description" : "Страница результатов (по 100 записей)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_7"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "500" : {
            "description" : "Внутренняя ошибка сервера (Note! Header status - 404 Not Found)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/leads/updated/{date_from}/{date_to}/{page}.{_format}" : {
      "get" : {
        "tags" : [ "Leads" ],
        "summary" : "Получение данных по обновленным заявкам",
        "parameters" : [ {
          "name" : "date_from",
          "in" : "path",
          "description" : "Дата последнего обновления туриста (от)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2}",
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "date_to",
          "in" : "path",
          "description" : "Дата последнего обновления туриста (до)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2}",
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "page",
          "in" : "path",
          "description" : "Страница результатов (по 100 записей)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_8"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "500" : {
            "description" : "Внутренняя ошибка сервера (Note! Header status - 404 Not Found)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/lead-by-client/{id}/{page}.{_format}" : {
      "get" : {
        "tags" : [ "Leads" ],
        "summary" : "Получение обращений по покупателю",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "page",
          "in" : "path",
          "description" : "Страница результатов (по 100 записей)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_9"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "500" : {
            "description" : "Внутренняя ошибка сервера (Note! Header status - 404 Not Found)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/lead/{id}.{_format}" : {
      "get" : {
        "tags" : [ "Leads" ],
        "summary" : "Получение данных по обращению",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_10"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        }
      }
    },
    "/lead/search.{_format}" : {
      "post" : {
        "tags" : [ "Leads" ],
        "summary" : "Получение данных обращений по фильтрам",
        "parameters" : [ {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_4"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_11"
                }
              }
            }
          },
          "400" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        }
      }
    },
    "/lead/create.{_format}" : {
      "post" : {
        "tags" : [ "Leads" ],
        "summary" : "Добавление обращения",
        "parameters" : [ {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_5"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_12"
                }
              }
            }
          },
          "400" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/400_bad_request"
                }
              }
            }
          },
          "404" : {
            "description" : "Ошибка (Не заполнено поле или Партнерский ключ)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404_1"
                }
              }
            }
          }
        }
      }
    },
    "/status_lead.{_format}" : {
      "get" : {
        "tags" : [ "Leads" ],
        "summary" : "Получение списка статусов обращений",
        "parameters" : [ {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_13"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/{page}.{_format}" : {
      "get" : {
        "tags" : [ "Webhooks" ],
        "summary" : "Получение списка вебхуков",
        "parameters" : [ {
          "name" : "page",
          "in" : "path",
          "description" : "Страница результатов (по 100 записей)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_14"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/create.{_format}" : {
      "post" : {
        "tags" : [ "Webhooks" ],
        "summary" : "Добавление вебхука",
        "parameters" : [ {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_6"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_5"
                }
              }
            }
          },
          "400" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "404" : {
            "description" : "Ошибка (Не заполнено обязательное поле или Партнерский ключ)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404_1"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/update/{id}.{_format}" : {
      "post" : {
        "tags" : [ "Webhooks" ],
        "summary" : "Обновление вебхука",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/model_webhook"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_5"
                }
              }
            }
          },
          "400" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/delete/{id}.{_format}" : {
      "post" : {
        "tags" : [ "Webhooks" ],
        "summary" : "Удаление вебхука",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_12"
                }
              }
            }
          },
          "400" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "404" : {
            "description" : "Ошибка (Вебхук не найден или ошибка в партнерском ключе)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404_2"
                }
              }
            }
          }
        }
      }
    },
    "/call_history/create.{_format}" : {
      "post" : {
        "tags" : [ "Call history" ],
        "summary" : "Добавление информации о звонке",
        "parameters" : [ {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_7"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_5"
                }
              }
            }
          },
          "400" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "404" : {
            "description" : "Ошибка (Не заполнено обязательное поле или Партнерский ключ)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404_1"
                }
              }
            }
          }
        }
      }
    },
    "/countries.{_format}" : {
      "get" : {
        "tags" : [ "Countries" ],
        "summary" : "Получение списка стран",
        "parameters" : [ {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_15"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        }
      }
    },
    "/country/create.{_format}" : {
      "post" : {
        "tags" : [ "Countries" ],
        "summary" : "Добавление страны",
        "parameters" : [ {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_8"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_5"
                }
              }
            }
          },
          "400" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/400_bad_request"
                }
              }
            }
          },
          "404" : {
            "description" : "Ошибка (Не заполнено поле или Партнерский ключ)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404_1"
                }
              }
            }
          }
        }
      }
    },
    "/country/update/{id}.{_format}" : {
      "post" : {
        "tags" : [ "Countries" ],
        "summary" : "Обновление данных по стране",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/country"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_5"
                }
              }
            }
          },
          "400" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/400_bad_request"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        }
      }
    },
    "/service_type.{_format}" : {
      "get" : {
        "tags" : [ "Service types" ],
        "summary" : "Список типов услуг для заявки",
        "parameters" : [ {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_16"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "manager" : {
        "type" : "object",
        "properties" : {
          "users" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/manager_users"
            }
          }
        },
        "description" : "Список сотрудников"
      },
      "country" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Название"
          },
          "name_en" : {
            "type" : "string",
            "description" : "Название латиницей"
          }
        },
        "description" : "Название страны"
      },
      "model_user_main" : {
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "global_u_id" : {
              "type" : "integer",
              "description" : "Global ID"
            },
            "u_id" : {
              "type" : "integer",
              "description" : "ID"
            },
            "u_type" : {
              "type" : "integer",
              "description" : "Тип записи (1 - физ.лицо, 2 - юр.лицо, 3 - турагентство)",
              "enum" : [ 1, 2, 3 ]
            },
            "tourist_kind" : {
              "type" : "integer",
              "description" : "Обращение (0 - не заполнено, 1 - Mr., 2 - Mrs., 3 - Miss, 4 - Child, 5 - Infant)",
              "enum" : [ 0, 1, 2, 3, 4, 5 ]
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_user_names"
        }, {
          "type" : "object",
          "properties" : {
            "u_email" : {
              "type" : "string",
              "description" : "E-mail"
            },
            "u_sex" : {
              "type" : "integer",
              "description" : "Пол (0 - не указан, 1 - муж., 2 - жен.)",
              "enum" : [ 0, 1, 2 ]
            },
            "u_fax" : {
              "type" : "string",
              "description" : "Факс (для юр. лица)"
            },
            "u_phone" : {
              "type" : "string",
              "description" : "Телефон"
            },
            "u_phone_mobile" : {
              "type" : "string",
              "description" : "Телефон (мобильный)"
            },
            "u_phone_home" : {
              "type" : "string",
              "description" : "Телефон (домашний) (для физ. лица)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_passport"
        }, {
          "$ref" : "#/components/schemas/kit_foreign_passport"
        }, {
          "type" : "object",
          "properties" : {
            "u_birthday" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
              "type" : "string",
              "description" : "Дата рождения"
            },
            "u_birthday_place" : {
              "type" : "string",
              "description" : "Место рождения"
            },
            "u_birthday_certificate" : {
              "type" : "string",
              "description" : "Свидетельство о рождении"
            },
            "manager_id" : {
              "type" : "integer",
              "description" : "Прикрепленный менеджер (id)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_snet_messengers"
        }, {
          "type" : "object",
          "properties" : {
            "u_image" : {
              "type" : "string",
              "description" : "Фото пользователя (URL)"
            },
            "u_note" : {
              "type" : "string",
              "description" : "Примечание (заметка)"
            },
            "timezone" : {
              "type" : "string",
              "description" : "Часовой пояс (относительно UTC/GMT)"
            },
            "source_id" : {
              "type" : "integer",
              "description" : "ID туриста \\ компании, который привел добавляемого туриста"
            },
            "u_position" : {
              "type" : "string",
              "description" : "Должность (для юр. лица)"
            },
            "u_manager_status" : {
              "type" : "integer"
            },
            "u_company" : {
              "type" : "string",
              "description" : "Название компании"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_requisites"
        }, {
          "type" : "object",
          "properties" : {
            "address" : {
              "type" : "string",
              "description" : "Адрес (регистрации)"
            },
            "address_juridical" : {
              "type" : "string",
              "description" : "Адрес (юридический)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_bank"
        }, {
          "type" : "object",
          "properties" : {
            "delivery_subscription" : {
              "type" : "integer",
              "description" : "Согласие на получение массовых рассылок (0 - Нет, 1 - Да)",
              "enum" : [ 0, 1 ]
            },
            "bcard_id" : {
              "type" : "integer",
              "description" : "Бонусная карта (Id)"
            },
            "bcard_number" : {
              "type" : "string",
              "description" : "Бонусная карта (Номер)"
            },
            "bcard_value" : {
              "type" : "integer",
              "description" : "Бонусная карта (Количество бонусов на карте)"
            },
            "role_id" : {
              "type" : "integer",
              "description" : "Группа доступа"
            },
            "office_id" : {
              "type" : "integer",
              "description" : "Офис (Id)"
            },
            "active" : {
              "type" : "integer",
              "description" : "Отметка активности учетной записи (0 - Нет, 1 - Да)",
              "enum" : [ 0, 1 ]
            },
            "deleted" : {
              "type" : "integer",
              "description" : "Отметка удаления учетной записи (0 - Нет, 1 - Да)",
              "enum" : [ 0, 1 ]
            },
            "ip_internal_number" : {
              "type" : "string",
              "description" : "Внутренний номер IP-телефонии"
            },
            "labels" : {
              "type" : "string",
              "description" : "Метки (Один или несколько вариантов, через запятую)"
            },
            "u_date_update" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
              "type" : "string",
              "description" : "Дата обновления"
            },
            "cabinet_created" : {
              "type" : "integer",
              "description" : "Отметка создания личного кабинета (0 - отсутствует, 1 - создан)",
              "enum" : [ 0, 1 ]
            },
            "cabinet_created_date" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
              "type" : "string",
              "description" : "Дата создания личного кабинета"
            },
            "nationality_id" : {
              "type" : "integer",
              "description" : "Страна (Id)"
            },
            "nationality" : {
              "type" : "string",
              "description" : "Страна"
            }
          }
        } ]
      },
      "model_user_simple" : {
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "u_id" : {
              "type" : "string",
              "description" : "ID"
            },
            "u_type" : {
              "type" : "string",
              "description" : "Тип записи (1 - физ.лицо, 2 - юр.лицо, 3 - турагентство)",
              "enum" : [ "1", "2", "3" ]
            },
            "tourist_kind" : {
              "type" : "string",
              "description" : "Обращение (0 - не заполнено, 1 - Mr., 2 - Mrs., 3 - Miss, 4 - Child, 5 - Infant)",
              "enum" : [ "0", "1", "2", "3", "4", "5" ]
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_user_names"
        }, {
          "type" : "object",
          "properties" : {
            "u_email" : {
              "type" : "string",
              "description" : "E-mail"
            },
            "u_sex" : {
              "type" : "string",
              "description" : "Пол (0 - не указан, 1 - муж., 2 - жен.)",
              "enum" : [ "0", "1", "2" ]
            },
            "u_phone" : {
              "type" : "string",
              "description" : "Телефон"
            },
            "u_phone_mobile" : {
              "type" : "string",
              "description" : "Телефон (мобильный)"
            },
            "u_phone_home" : {
              "type" : "string",
              "description" : "Телефон (домашний) (для физ. лица)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_passport"
        }, {
          "$ref" : "#/components/schemas/kit_foreign_passport"
        }, {
          "type" : "object",
          "properties" : {
            "u_date_update" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
              "type" : "string",
              "description" : "Дата обновления"
            },
            "u_birthday" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
              "type" : "string",
              "description" : "Дата рождения"
            },
            "u_birthday_place" : {
              "type" : "string",
              "description" : "Место рождения"
            },
            "u_birthday_certificate" : {
              "type" : "string",
              "description" : "Свидетельство о рождении"
            },
            "manager_id" : {
              "type" : "string",
              "description" : "Прикрепленный менеджер (id)"
            }
          }
        } ]
      },
      "model_user_update" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/kit_user_names"
        }, {
          "type" : "object",
          "properties" : {
            "u_email" : {
              "type" : "string",
              "description" : "E-mail"
            },
            "u_sex" : {
              "type" : "string",
              "description" : "Пол ( m - муж., f - жен.)"
            },
            "u_fax" : {
              "type" : "string",
              "description" : "Факс (для юр. лица)"
            },
            "u_phone" : {
              "type" : "string",
              "description" : "Телефон"
            },
            "u_phone_mobile" : {
              "type" : "string",
              "description" : "Телефон (мобильный)"
            },
            "u_passport_number" : {
              "type" : "string",
              "description" : "Гражданский паспорт (серия и номер)"
            },
            "u_passport_taken" : {
              "type" : "string",
              "description" : "Гражданский паспорт (кем выдан)"
            },
            "u_passport_date" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2}",
              "type" : "string",
              "description" : "Гражданский паспорт (дата выдачи)"
            },
            "u_zagran_number" : {
              "type" : "string",
              "description" : "Загранпаспорт (серия и номер)"
            },
            "u_zagran_given" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2}",
              "type" : "string",
              "description" : "Загранпаспорт (дата выдачи)"
            },
            "u_zagran_expire" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2}",
              "type" : "string",
              "description" : "Загранпаспорт (дата действия)"
            },
            "u_zagran_organization" : {
              "type" : "string",
              "description" : "Загранпаспорт (кем выдан)"
            },
            "u_birthday" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2}",
              "type" : "string",
              "description" : "Дата рождения"
            },
            "u_birthday_place" : {
              "type" : "string",
              "description" : "Место рождения"
            },
            "u_birthday_certificate" : {
              "type" : "string",
              "description" : "Свидетельство о рождении"
            },
            "u_birthday_certificate_given" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2}",
              "type" : "string",
              "description" : "Свидетельство о рождении (дата выдачи)"
            },
            "u_birthday_certificate_organization" : {
              "type" : "string",
              "description" : "Свидетельство о рождении (кем выдано)"
            },
            "u_manager_id" : {
              "type" : "string",
              "description" : "Прикрепленный менеджер (id)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_snet_messengers"
        }, {
          "type" : "object",
          "properties" : {
            "u_note" : {
              "type" : "string",
              "description" : "Примечание (заметка)"
            },
            "u_source" : {
              "type" : "integer",
              "description" : "ID туриста \\ компании, который привел добавляемого туриста"
            },
            "u_company" : {
              "type" : "string",
              "description" : "Название компании"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_requisites"
        }, {
          "type" : "object",
          "properties" : {
            "u_address" : {
              "type" : "string",
              "description" : "Адрес (регистрации)"
            },
            "u_address_u" : {
              "type" : "string",
              "description" : "Адрес (юридический)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_bank"
        }, {
          "type" : "object",
          "properties" : {
            "u_discount_card_number" : {
              "type" : "string",
              "description" : "Бонусная карта (Номер)"
            },
            "u_discount_card_bonus" : {
              "type" : "integer",
              "description" : "Бонусная карта (Количество бонусов на карте)"
            },
            "u_office_id" : {
              "type" : "integer",
              "description" : "Офис (Id)"
            },
            "u_labels" : {
              "type" : "string",
              "description" : "Метки (Один или несколько вариантов, через запятую)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_extended_fields"
        } ]
      },
      "model_lead_main" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "ID"
          },
          "id_system" : {
            "type" : "integer",
            "description" : "Системный ID"
          },
          "id_internal" : {
            "type" : "string",
            "description" : "Внутренний номер"
          },
          "reservation_number" : {
            "type" : "string"
          },
          "supplier_id" : {
            "type" : "integer",
            "description" : "Компания партнер (Id)"
          },
          "supplier_name" : {
            "type" : "string",
            "description" : "Компания партнер (Наименование)"
          },
          "supplier_name_official" : {
            "type" : "string",
            "description" : "Компания партнер (Полное наименование)"
          },
          "supplier_inn" : {
            "type" : "string",
            "description" : "Компания партнер (ИНН)"
          },
          "dat" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Дата создания",
            "format" : "date-time"
          },
          "dat_request" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "format" : "date-time"
          },
          "dat_lead" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Дата создания (Обращения)",
            "format" : "date-time"
          },
          "office_id" : {
            "type" : "integer",
            "description" : "Офис (Id)"
          },
          "office_name" : {
            "type" : "string",
            "description" : "Офис (Наименование)"
          },
          "manager_id" : {
            "type" : "integer",
            "description" : "Менеджер (Id)"
          },
          "visa_id" : {
            "type" : "integer",
            "description" : "Виза (Id)"
          },
          "insurance_id" : {
            "type" : "integer"
          },
          "manager_surname" : {
            "type" : "string",
            "description" : "Менеджер (Фамилия)"
          },
          "manager_sname" : {
            "type" : "string",
            "description" : "Менеджер (Отчество)"
          },
          "manager_name" : {
            "type" : "string",
            "description" : "Менеджер (Имя)"
          },
          "client_id" : {
            "type" : "integer",
            "description" : "Клиент (ID)"
          },
          "client_surname" : {
            "type" : "string",
            "description" : "Клиент (Фамилия)"
          },
          "client_name" : {
            "type" : "string",
            "description" : "Клиент (Имя)"
          },
          "client_sname" : {
            "type" : "string",
            "description" : "Клиент (Отчество)"
          },
          "client_phone" : {
            "type" : "string",
            "description" : "Клиент (Телефон)"
          },
          "client_phone_mobile" : {
            "type" : "string",
            "description" : "Клиент (Телефон - мобильный)"
          },
          "client_phone_home" : {
            "type" : "string",
            "description" : "Клиент (Телефон - домашний - для физ. лиц)"
          },
          "client_email" : {
            "type" : "string",
            "description" : "Клиент (E-mail)"
          },
          "client_company" : {
            "type" : "string",
            "description" : "Клиент (Компания)"
          },
          "client_inn" : {
            "type" : "string",
            "description" : "Клиент (ИНН)"
          },
          "client_kpp" : {
            "type" : "string",
            "description" : "Клиент (КПП)"
          },
          "social_vk" : {
            "type" : "string",
            "description" : "Клиент (Аккаунт во Вконтакте)"
          },
          "social_fb" : {
            "type" : "string",
            "description" : "Клиент (Аккаунт в Facebook)"
          },
          "social_ok" : {
            "type" : "string",
            "description" : "Клиент (Аккаунт в Одноклассниках)"
          },
          "telegram" : {
            "type" : "string",
            "description" : "Клиент (Аккаунт в Telegram)"
          },
          "instagram" : {
            "type" : "string",
            "description" : "Клиент (Аккаунт в Instagram)"
          },
          "whatsapp" : {
            "type" : "string",
            "description" : "Клиент (Аккаунт в Whatsapp)"
          },
          "viber" : {
            "type" : "string",
            "description" : "Клиент (Аккаунт в Viber)"
          },
          "date_begin" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Дата начала обслуживания",
            "format" : "date-time"
          },
          "date_end" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Дата окончания обслуживания",
            "format" : "date-time"
          },
          "source_id" : {
            "type" : "integer",
            "description" : "Источник (Id)"
          },
          "source" : {
            "type" : "string",
            "description" : "Источник (Наименование)"
          },
          "travel_type_id" : {
            "type" : "integer",
            "description" : "Тип заявки (Id)"
          },
          "travel_type" : {
            "type" : "string",
            "description" : "Тип заявки (Наименование)"
          },
          "status_id" : {
            "type" : "string",
            "description" : "Статус (Id)"
          },
          "status" : {
            "type" : "string",
            "description" : "Статус (Наименование)"
          },
          "utm_source" : {
            "type" : "string"
          },
          "utm_medium" : {
            "type" : "string"
          },
          "utm_campaign" : {
            "type" : "string"
          },
          "utm_content" : {
            "type" : "string"
          },
          "utm_term" : {
            "type" : "string"
          },
          "calc_price_netto" : {
            "type" : "integer",
            "description" : "Себестоимость"
          },
          "calc_price" : {
            "type" : "integer",
            "description" : "Стоимость для клиента"
          },
          "r_calc_partner_currency_id" : {
            "type" : "integer"
          },
          "r_calc_client_currency_id" : {
            "type" : "integer"
          },
          "calc_increase" : {
            "type" : "integer",
            "description" : "Сумма всех приходов"
          },
          "calc_decrease" : {
            "type" : "integer",
            "description" : "Сумма всех расходов"
          },
          "calc_client" : {
            "type" : "integer",
            "description" : "Сумма всех расчетов с клиентом"
          },
          "calc_partner" : {
            "type" : "integer",
            "description" : "Сумма всех расчетов с партнерами"
          },
          "client_requirements_country_ids" : {
            "type" : "string",
            "description" : "Пожелания клиента (Страны - Id)"
          },
          "client_requirements_date_from" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Пожелания клиента (Желаемые даты - от)",
            "format" : "date-time"
          },
          "client_requirements_date_to" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Пожелания клиента (Желаемые даты - до)",
            "format" : "date-time"
          },
          "client_requirements_days_from" : {
            "type" : "integer",
            "description" : "Пожелания клиента (Желаемое кол-во ночей - от)"
          },
          "client_requirements_days_to" : {
            "type" : "integer",
            "description" : "Пожелания клиента (Желаемое кол-во ночей - до)"
          },
          "client_requirements_hotel_stars" : {
            "type" : "string",
            "description" : "Пожелания клиента (Размещение)"
          },
          "client_requirements_nutrition_ids" : {
            "type" : "string",
            "description" : "Пожелания клиента (Питание - Id)"
          },
          "client_requirements_tourists_adult_count" : {
            "type" : "integer",
            "description" : "Пожелания клиента (Количество взрослых)"
          },
          "client_requirements_tourists_child_count" : {
            "type" : "integer",
            "description" : "Пожелания клиента (Количество детей)"
          },
          "client_requirements_tourists_child_age" : {
            "type" : "integer",
            "description" : "Пожелания клиента (Возраст детей)"
          },
          "client_requirements_tourists_baby_count" : {
            "type" : "integer",
            "description" : "Пожелания клиента (Количество младенцев)"
          },
          "client_requirements_budget" : {
            "type" : "integer",
            "description" : "Пожелания клиента (Цена / бюджет)"
          },
          "client_requirements_note" : {
            "type" : "string",
            "description" : "Пожелания клиента (Примечание)"
          },
          "dat_updated" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Дата обновления",
            "format" : "date-time"
          },
          "created_at" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Дата создания",
            "format" : "date-time"
          },
          "created_by_manager" : {
            "type" : "integer",
            "description" : "ID менеджера создавшего заявку"
          },
          "notes" : {
            "type" : "string",
            "description" : "Примечание"
          },
          "bonus_limit" : {
            "type" : "integer"
          },
          "company_id" : {
            "type" : "integer",
            "description" : "Компания (Id)"
          },
          "company_name" : {
            "type" : "string",
            "description" : "Компания (наименование лат.)"
          },
          "company_fullname" : {
            "type" : "string",
            "description" : "Компания (Полное наименование)"
          },
          "company_name_rus" : {
            "type" : "string",
            "description" : "Компания (Наименование)"
          },
          "company_inn" : {
            "type" : "string",
            "description" : "Компания (ИНН)"
          }
        }
      },
      "model_webhook" : {
        "type" : "object",
        "properties" : {
          "type_id" : {
            "type" : "integer",
            "description" : "Тип вебхука (1 - Создание обращения, 2 - Создание заявки, 3 - Создание клиента, 4 - Изменение клиента, 5 - Удаление клиента, 6 - Создание партнера, 7 - Изменение партнера, 8 - Удаление партнера, 9 - Создание платежа, 10 - Изменение платежа, 11 - Удаление платежа, 12 - Создание услуги в заявке, 13 - Изменение услуги в заявке, 14 - Удаление услуги из заявки, 15 - Отправка сообщения в чате, 16 - Изменение статуса в обращении, 17 - Изменение статуса в заявке, 18 - Изменение цены нетто в заявке, 19 - Изменение цены клиента в заявке, 20 - Прикрепление файла в заявке, 21 - Удаление файла из заявки, 22 - Добавление туриста в заявке, 23 - Удаление туриста из заявки, 24 - Начисление баллов клиенту, 25 - Прикрепление покупателя в заявке, 26 - Открепление покупателя от заявки, 27 - Изменение причины отказа в обращении, 28 - Прикрепление бонусной карты к туристу, 29 - Изменение менеджера в обращении, 30 - Изменение менеджера в заявке, 31 - Добавление комментария в заявке или в карточке туриста, 32 - Уведомление туриста о событиях (перед вылетом / после возвращения и т.д.))",
            "enum" : [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31 ]
          },
          "url" : {
            "type" : "string",
            "description" : "URL"
          },
          "method" : {
            "type" : "string",
            "description" : "Метод (GET/POST/PUT/DELETE), по-умолчанию GET"
          },
          "note" : {
            "type" : "string",
            "description" : "Примечание"
          }
        }
      },
      "kit_user_names" : {
        "type" : "object",
        "properties" : {
          "u_surname" : {
            "type" : "string",
            "description" : "Фамилия туриста / контактного лица"
          },
          "u_name" : {
            "type" : "string",
            "description" : "Имя туриста / контактного лица"
          },
          "u_sname" : {
            "type" : "string",
            "description" : "Отчество туриста / контактного лица"
          },
          "u_surname_en" : {
            "type" : "string",
            "description" : "Фамилия туриста / контактного лица (латиницей)"
          },
          "u_name_en" : {
            "type" : "string",
            "description" : "Имя туриста / контактного лица (латиницей)"
          }
        }
      },
      "kit_passport" : {
        "type" : "object",
        "properties" : {
          "u_passport_number" : {
            "type" : "string",
            "description" : "Гражданский паспорт (серия и номер)"
          },
          "u_passport_taken" : {
            "type" : "string",
            "description" : "Гражданский паспорт (кем выдан)"
          },
          "u_passport_date" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Гражданский паспорт (дата выдачи)"
          }
        }
      },
      "kit_foreign_passport" : {
        "type" : "object",
        "properties" : {
          "u_zagran_number" : {
            "type" : "string",
            "description" : "Загранпаспорт (серия и номер)"
          },
          "u_zagran_given" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Загранпаспорт (дата выдачи)"
          },
          "u_zagran_expire" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Загранпаспорт (дата действия)"
          },
          "u_zagran_organization" : {
            "type" : "string",
            "description" : "Загранпаспорт (кем выдан)"
          }
        }
      },
      "kit_snet_messengers" : {
        "type" : "object",
        "properties" : {
          "u_social_vk" : {
            "type" : "string",
            "description" : "Аккаунт во Вконтакте"
          },
          "u_social_fb" : {
            "type" : "string",
            "description" : "Аккаунт в Facebook"
          },
          "u_social_ok" : {
            "type" : "string",
            "description" : "Аккаунт в Одноклассниках"
          },
          "u_telegram" : {
            "type" : "string",
            "description" : "Аккаунт в Telegram"
          },
          "u_whatsapp" : {
            "type" : "string",
            "description" : "Аккаунт в Whatsapp"
          },
          "u_viber" : {
            "type" : "string",
            "description" : "Аккаунт в Viber"
          },
          "u_instagram" : {
            "type" : "string",
            "description" : "Аккаунт в Instagram"
          }
        }
      },
      "kit_requisites" : {
        "type" : "object",
        "properties" : {
          "u_inn" : {
            "type" : "string",
            "description" : "ИНН"
          },
          "u_kpp" : {
            "type" : "string",
            "description" : "КПП"
          },
          "u_ogrn" : {
            "type" : "string",
            "description" : "ОГРН"
          },
          "u_okved" : {
            "type" : "string",
            "description" : "ОКВЭД"
          }
        }
      },
      "kit_bank" : {
        "type" : "object",
        "properties" : {
          "u_finance_bank" : {
            "type" : "string",
            "description" : "Наименование банка"
          },
          "u_finance_rs" : {
            "type" : "string",
            "description" : "Р/с"
          },
          "u_finance_ks" : {
            "type" : "string",
            "description" : "К/с"
          },
          "u_finance_bik" : {
            "type" : "string",
            "description" : "БИК"
          },
          "u_finance_okpo" : {
            "type" : "string",
            "description" : "ОКПО"
          }
        }
      },
      "kit_extended_fields" : {
        "type" : "object",
        "properties" : {
          "extended_fields" : {
            "type" : "array",
            "description" : "Дополнительные поля (см.метод /extended_field)",
            "items" : {
              "$ref" : "#/components/schemas/kit_extended_fields_extended_fields"
            }
          }
        }
      },
      "kit_tours" : {
        "type" : "object",
        "properties" : {
          "tours" : {
            "type" : "array",
            "description" : "Массив подборок туров",
            "items" : {
              "$ref" : "#/components/schemas/kit_tours_tours"
            }
          }
        }
      },
      "kit_services" : {
        "type" : "object",
        "properties" : {
          "services" : {
            "type" : "array",
            "description" : "Массив услуг (см.метод /service)",
            "items" : {
              "$ref" : "#/components/schemas/kit_services_services"
            }
          }
        }
      },
      "kit_files" : {
        "type" : "object",
        "properties" : {
          "files" : {
            "type" : "array",
            "description" : "Массив прикрепленных файлов (см.метод /request_file/create)",
            "items" : {
              "$ref" : "#/components/schemas/kit_files_files"
            }
          }
        }
      },
      "400_bad_request" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "integer",
            "example" : 400
          },
          "message" : {
            "type" : "string",
            "example" : "Bad Request"
          }
        },
        "description" : "Ошибка в запросе"
      },
      "404_empty_field" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "integer",
            "example" : 404
          },
          "message" : {
            "type" : "string",
            "example" : "Field <_____> is empty"
          }
        },
        "description" : "Не заполнено обязательное поле"
      },
      "404_wrong_key" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "integer",
            "example" : 404
          },
          "message" : {
            "type" : "string",
            "example" : "Partner key is wrong"
          }
        },
        "description" : "Партнерский ключ неверен"
      },
      "500_internal_error" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "integer",
            "example" : 500,
            "xml" : {
              "attribute" : true
            }
          },
          "message" : {
            "type" : "string",
            "example" : "Internal Server Error",
            "xml" : {
              "attribute" : true
            }
          }
        },
        "description" : "Внутренняя ошибка сервера"
      },
      "inline_response_404" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "integer",
            "example" : 404
          },
          "message" : {
            "type" : "string",
            "example" : "Partner key is wrong"
          }
        }
      },
      "inline_response_200" : {
        "type" : "object",
        "properties" : {
          "users" : {
            "type" : "array",
            "items" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/model_user_main"
              }, {
                "$ref" : "#/components/schemas/kit_extended_fields"
              } ]
            }
          }
        }
      },
      "inline_response_500" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/500_internal_error"
          }
        }
      },
      "inline_response_200_1" : {
        "type" : "object",
        "properties" : {
          "users" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/model_user_main"
            }
          }
        }
      },
      "inline_response_200_2" : {
        "type" : "object",
        "properties" : {
          "users" : {
            "type" : "array",
            "items" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/model_user_simple"
              }, {
                "type" : "object",
                "properties" : {
                  "source_id" : {
                    "type" : "string",
                    "description" : "ID туриста \\ компании, который привел добавляемого туриста"
                  },
                  "delivery_subscription" : {
                    "type" : "string",
                    "description" : "Согласие на получение массовых рассылок (0 - Нет, 1 - Да)"
                  },
                  "nationality_id" : {
                    "type" : "string",
                    "description" : "Страна (Id)"
                  },
                  "nationality" : {
                    "type" : "string",
                    "description" : "Страна"
                  }
                }
              } ]
            }
          }
        }
      },
      "body" : {
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "E-mail"
          }
        }
      },
      "inline_response_400" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/400_bad_request"
          }
        }
      },
      "inline_response_404_1" : {
        "oneOf" : [ {
          "$ref" : "#/components/schemas/404_wrong_key"
        }, {
          "$ref" : "#/components/schemas/404_empty_field"
        } ]
      },
      "body_1" : {
        "type" : "object",
        "properties" : {
          "vkontakte" : {
            "type" : "string",
            "description" : "Аккаунт во Вконтакте"
          },
          "facebook" : {
            "type" : "string",
            "description" : "Аккаунт в Facebook"
          },
          "odnoklassniki" : {
            "type" : "string",
            "description" : "Аккаунт в Одноклассниках"
          },
          "telegram" : {
            "type" : "string",
            "description" : "Аккаунт в Telegram"
          },
          "whatsapp" : {
            "type" : "string",
            "description" : "Аккаунт в Whatsapp"
          },
          "viber" : {
            "type" : "string",
            "description" : "Аккаунт в Viber"
          },
          "instagram" : {
            "type" : "string",
            "description" : "Аккаунт в Instagram"
          },
          "label_ids" : {
            "type" : "string",
            "description" : "ID меток через запятую"
          },
          "part_match" : {
            "type" : "integer",
            "description" : "Полное совпадение (по-умолчанию) или частичное (=1)"
          },
          "page" : {
            "type" : "integer",
            "description" : "Номер страницы выдачи (по-умолчанию, 1)"
          }
        }
      },
      "inline_response_200_3" : {
        "type" : "object",
        "properties" : {
          "users" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/model_user_main"
            }
          },
          "count_all" : {
            "type" : "integer",
            "description" : "Найдено записей"
          }
        }
      },
      "inline_response_200_4" : {
        "type" : "object",
        "properties" : {
          "user" : {
            "type" : "array",
            "items" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/model_user_main"
              }, {
                "$ref" : "#/components/schemas/kit_extended_fields"
              } ]
            }
          }
        }
      },
      "body_2" : {
        "type" : "object",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "u_password" : {
              "type" : "string",
              "description" : "Пароль туриста / контактного лица"
            },
            "u_type" : {
              "type" : "integer",
              "description" : "Тип записи (1 - физ.лицо, 2 - юр.лицо, 3 - турагентство)"
            },
            "u_tk_id" : {
              "type" : "integer",
              "description" : "Обращение (0 - не заполнено, 1 - Mr., 2 - Mrs., 3 - Miss, 4 - Child, 5 - Infant)"
            },
            "nationality_id" : {
              "type" : "integer",
              "description" : "Страна (Id)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/model_user_update"
        }, {
          "required" : [ "u_name" ]
        } ]
      },
      "inline_response_200_5" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "integer",
            "example" : 200
          },
          "id" : {
            "type" : "string",
            "example" : "11"
          }
        }
      },
      "body_3" : {
        "type" : "object",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "u_phone_home" : {
              "type" : "string",
              "description" : "Телефон (домашний) (для физ. лица)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/model_user_update"
        } ]
      },
      "inline_response_200_6" : {
        "type" : "object",
        "properties" : {
          "leads" : {
            "type" : "array",
            "items" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/model_lead_main"
              }, {
                "$ref" : "#/components/schemas/kit_services"
              }, {
                "$ref" : "#/components/schemas/kit_extended_fields"
              } ]
            }
          }
        }
      },
      "inline_response_200_7" : {
        "type" : "object",
        "properties" : {
          "leads" : {
            "type" : "array",
            "items" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/model_lead_main"
              }, {
                "$ref" : "#/components/schemas/kit_services"
              } ]
            }
          }
        }
      },
      "inline_response_200_8" : {
        "type" : "object",
        "properties" : {
          "requests" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/model_lead_main"
            }
          }
        }
      },
      "inline_response_200_9" : {
        "type" : "object",
        "properties" : {
          "leads" : {
            "type" : "array",
            "items" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/model_lead_main"
              }, {
                "$ref" : "#/components/schemas/kit_services"
              } ]
            }
          },
          "is_archive" : {
            "type" : "integer",
            "description" : "Признак помещения обрашения в архив"
          }
        }
      },
      "inline_response_200_10" : {
        "type" : "object",
        "properties" : {
          "lead" : {
            "type" : "array",
            "items" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/model_lead_main"
              }, {
                "$ref" : "#/components/schemas/kit_tours"
              }, {
                "$ref" : "#/components/schemas/kit_services"
              }, {
                "$ref" : "#/components/schemas/kit_files"
              }, {
                "$ref" : "#/components/schemas/kit_extended_fields"
              } ]
            }
          }
        }
      },
      "body_4" : {
        "type" : "object",
        "properties" : {
          "date_create_from" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Дата создания заявки (от)",
            "format" : "date-time"
          },
          "date_create_to" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Дата создания заявки (до)",
            "format" : "date-time"
          },
          "manager_ids" : {
            "type" : "string",
            "description" : "ID менеджеров (через запятую)"
          },
          "client_ids" : {
            "type" : "string",
            "description" : "ID клиентов (через запятую)"
          },
          "source_ids" : {
            "type" : "string",
            "description" : "ID источников (через запятую)"
          },
          "status_ids" : {
            "type" : "string",
            "description" : "ID статусов (через запятую)"
          },
          "page" : {
            "type" : "integer",
            "description" : "Номер страницы выдачи (по-умолчанию, 1)"
          }
        }
      },
      "inline_response_200_11" : {
        "type" : "object",
        "properties" : {
          "leads" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/model_lead_main"
            }
          }
        }
      },
      "body_5" : {
        "type" : "object",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "r_id_internal" : {
              "type" : "string",
              "description" : "Номер заявки"
            },
            "r_dat" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}",
              "type" : "string",
              "description" : "Дата создания",
              "format" : "date-time"
            },
            "r_u_id" : {
              "type" : "integer",
              "description" : "ID менеджера, на которого будет назначен лид"
            },
            "r_co_id" : {
              "type" : "integer",
              "description" : "ID офиса, на который будет назначен лид"
            },
            "status_id" : {
              "type" : "integer",
              "description" : "ID статуса (см.метод /status_lead)"
            },
            "source" : {
              "type" : "string",
              "description" : "Источник заявки"
            },
            "touroperator_id" : {
              "type" : "integer",
              "description" : "ID партнера (см. метод /supplier)"
            },
            "travel_type_id" : {
              "type" : "integer",
              "description" : "ID типа заявки (см. метод /travel-type)"
            },
            "note" : {
              "type" : "string",
              "description" : "Примечание"
            },
            "date_from" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2}",
              "type" : "string",
              "description" : "Пожелания клиента (дата начала)",
              "format" : "date-time"
            },
            "date_to" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2}",
              "type" : "string",
              "description" : "Пожелания клиента (дата окончания)",
              "format" : "date-time"
            },
            "nights_from" : {
              "type" : "string",
              "description" : "Пожелания клиента (кол-во ночей (от))"
            },
            "nights_to" : {
              "type" : "string",
              "description" : "Пожелания клиента (кол-во ночей (до))"
            },
            "countries" : {
              "type" : "string",
              "description" : "Пожелания клиента (ID стран (через запятую, см.метод /countries))"
            },
            "hotel_types" : {
              "type" : "string",
              "description" : "Пожелания клиента (категории отелей (через запятую из списка 1*,2*,3*,4*,5*,5+*,Apts,Villa))"
            },
            "nutrition" : {
              "type" : "string",
              "description" : "Пожелания клиента (типы питания (через запятую из списка RO,BB,HB,HB+,FB,FB+,AI,UAI))"
            },
            "tourist_count" : {
              "type" : "string",
              "description" : "Пожелания клиента (Количество туристов (взрослые))"
            },
            "tourist_child_count" : {
              "type" : "string",
              "description" : "Пожелания клиента (Количество туристов (дети))"
            },
            "tourist_baby_count" : {
              "type" : "string",
              "description" : "Пожелания клиента (Количество туристов (младенцы))"
            },
            "budget" : {
              "type" : "integer",
              "description" : "Пожелания клиента (Бюджет клиента)"
            },
            "requirements_note" : {
              "type" : "string",
              "description" : "Пожелания клиента (Примечание)"
            },
            "u_surname" : {
              "type" : "string",
              "description" : "Фамилия клиента"
            },
            "u_name" : {
              "type" : "string",
              "description" : "Имя клиента"
            },
            "u_phone" : {
              "type" : "string",
              "description" : "Телефон клиента (одно из полей на выбор phone; mail; Vk; FB; Ok; Telegram…)"
            },
            "u_email" : {
              "type" : "string",
              "description" : "E-mail клиента (одно из полей)"
            },
            "u_social_vk" : {
              "type" : "string",
              "description" : "Аккаунт клиента ВКонтакте (одно из полей)"
            },
            "u_social_fb" : {
              "type" : "string",
              "description" : "Аккаунт клиента Facebook (одно из полей)"
            },
            "u_social_ok" : {
              "type" : "string",
              "description" : "Аккаунт клиента Oдноклассники (одно из полей)"
            },
            "u_telegram" : {
              "type" : "string",
              "description" : "Аккаунт клиента Telegram (одно из полей)"
            },
            "u_instagram" : {
              "type" : "string",
              "description" : "Аккаунт клиента Instagram (одно из полей)"
            },
            "u_whatsapp" : {
              "type" : "string",
              "description" : "Аккаунт клиента Whatsapp (одно из полей)"
            },
            "u_viber" : {
              "type" : "string",
              "description" : "Аккаунт клиента Viber (одно из полей)"
            },
            "u_password" : {
              "type" : "string",
              "description" : "Пароль клиента"
            },
            "u_note" : {
              "type" : "string",
              "description" : "Примечание клиента"
            }
          }
        }, {
          "required" : [ "u_email", "u_instagram", "u_phone", "u_social_fb", "u_social_ok", "u_social_vk", "u_telegram", "u_viber", "u_whatsapp" ]
        }, {
          "$ref" : "#/components/schemas/kit_extended_fields"
        }, {
          "type" : "object",
          "properties" : {
            "utm_source" : {
              "type" : "string",
              "description" : "utm_source"
            },
            "utm_medium" : {
              "type" : "string",
              "description" : "utm_medium"
            },
            "utm_campaign" : {
              "type" : "string",
              "description" : "utm_campaign"
            },
            "utm_content" : {
              "type" : "string",
              "description" : "utm_content"
            },
            "utm_term" : {
              "type" : "string",
              "description" : "utm_term"
            },
            "reminder_datetime" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
              "type" : "string",
              "description" : "Дата напоминания (замена стандартному напоминанию - Заполнить данные клиента (через 1 час))",
              "format" : "date-time"
            },
            "reminder_text" : {
              "type" : "string",
              "description" : "Текст напоминания (замена стандартному напоминанию - Заполнить данные клиента (через 1 час))"
            }
          }
        } ]
      },
      "inline_response_200_12" : {
        "type" : "object",
        "properties" : {
          "result" : {
[...]
