{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "U-on API",
    "description" : "API - На основе выполненных запросов (отличается от документации представленной на портале https://api.u-on.ru/doc)",
    "version" : "1r"
  },
  "servers" : [ {
    "url" : "https://api.u-on.ru",
    "description" : "U-on api"
  }, {
    "url" : "https://virtserver.swaggerhub.com/alek-pol/U-on/1",
    "description" : "SwaggerHub API Auto Mocking"
  } ],
  "tags" : [ {
    "name" : "Managers",
    "description" : "Сотрудники компании"
  }, {
    "name" : "Users",
    "description" : "Туристы / Юр.лица / Турагентства"
  }, {
    "name" : "Countries",
    "description" : "Страны"
  } ],
  "paths" : {
    "/{key}/manager.{_format}" : {
      "get" : {
        "tags" : [ "Managers" ],
        "summary" : "Список сотрудников компании",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/manager"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        }
      }
    },
    "/{key}/countries.{_format}" : {
      "get" : {
        "tags" : [ "Countries" ],
        "summary" : "Получение списка стран",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        }
      }
    },
    "/{key}/country/create.{_format}" : {
      "post" : {
        "tags" : [ "Countries" ],
        "summary" : "Добавление страны",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "400" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/400_bad_request"
                }
              }
            }
          },
          "404" : {
            "description" : "Ошибка (Не заполнено поле или Партнерский ключ)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404_1"
                }
              }
            }
          }
        }
      }
    },
    "/{key}/country/update/{id}.{_format}" : {
      "post" : {
        "tags" : [ "Countries" ],
        "summary" : "Обновление данных по стране",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/country"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "400" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/400_bad_request"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        }
      }
    },
    "/{key}/users/{page}.{_format}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Список туристов / юр.лиц / турагентств (постранично)",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "path",
          "description" : "Страница результатов (по 100 записей)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_2"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "500" : {
            "description" : "Внутренняя ошибка сервера (Note! Header status - 404 Not Found)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/{key}/user/updated/{date_from}/{date_to}/{page}.{_format}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Список обновленных туристов / юр.лиц / турагентств (постранично)",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "date_from",
          "in" : "path",
          "description" : "Дата последнего обновления туриста (от)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2}",
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "date_to",
          "in" : "path",
          "description" : "Дата последнего обновления туриста (до)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2}",
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "page",
          "in" : "path",
          "description" : "Страница результатов (по 100 записей)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_3"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "500" : {
            "description" : "Внутренняя ошибка сервера (Note! Header status - 404 Not Found)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/{key}/user/phone/{phone}.{_format}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Поиск туриста / юр.лица / турагентства по номеру телефона",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "phone",
          "in" : "path",
          "description" : "Номер телефона",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "^\\+\\d*$|^\\d*$",
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_4"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        }
      }
    },
    "/{key}/user/email.{_format}" : {
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Поиск туриста / юр.лица / турагентства по E-mail",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "allOf" : [ {
                      "$ref" : "#/components/schemas/model_user_simple"
                    }, {
                      "type" : "object",
                      "properties" : {
                        "delivery_subscription" : {
                          "type" : "string",
                          "description" : "Согласие на получение массовых рассылок (0 - Нет, 1 - Да)"
                        },
                        "timezone" : {
                          "type" : "string",
                          "description" : "Часовой пояс (относительно UTC/GMT)"
                        },
                        "source_id" : {
                          "type" : "string",
                          "description" : "ID туриста \\ компании, который привел добавляемого туриста"
                        },
                        "nationality_id" : {
                          "type" : "string",
                          "description" : "Страна (Id)"
                        },
                        "nationality" : {
                          "type" : "string",
                          "description" : "Страна"
                        }
                      }
                    } ]
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "204 No Content"
          },
          "400" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "404" : {
            "description" : "Ошибка (Не заполнено поле или Партнерский ключ)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404_1"
                }
              }
            }
          }
        }
      }
    },
    "/{key}/user/search.{_format}" : {
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Получение данных пользователей по фильтрам",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_5"
                }
              }
            }
          },
          "400" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "500" : {
            "description" : "Внутренняя ошибка сервера (Note! Header status - 404 Not Found)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/{key}/user/{id}.{_format}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Получение данных по конкретному туристу / юр.лицу / турагентству",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_6"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        }
      }
    },
    "/{key}/user/create.{_format}" : {
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Добавление туриста / юр.лица / турагентства",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_3"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "400" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/400_bad_request"
                }
              }
            }
          },
          "404" : {
            "description" : "Ошибка (Не заполнено поле или Партнерский ключ)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404_1"
                }
              }
            }
          }
        }
      }
    },
    "/{key}/user/update/{id}.{_format}" : {
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Обновление туриста / юр.лица / турагентства",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "API-ключ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "_format",
          "in" : "path",
          "description" : "Формат выдачи результатов (json|xml)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "json", "xml" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_4"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Успешное выполнение",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "400" : {
            "description" : "Ошибка в запросе",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/400_bad_request"
                }
              }
            }
          },
          "404" : {
            "description" : "Партнерский ключ неверен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "manager" : {
        "type" : "object",
        "properties" : {
          "users" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/manager_users"
            }
          }
        },
        "description" : "Список сотрудников"
      },
      "country" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Название"
          },
          "name_en" : {
            "type" : "string",
            "description" : "Название латиницей"
          }
        },
        "description" : "Название страны"
      },
      "model_user_main" : {
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "global_u_id" : {
              "type" : "integer",
              "description" : "Global ID"
            },
            "u_id" : {
              "type" : "integer",
              "description" : "ID"
            },
            "u_type" : {
              "type" : "integer",
              "description" : "Тип записи (1 - физ.лицо, 2 - юр.лицо, 3 - турагентство)"
            },
            "tourist_kind" : {
              "type" : "integer",
              "description" : "Обращение (0 - не заполнено, 1 - Mr., 2 - Mrs., 3 - Miss, 4 - Child, 5 - Infant)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_user_names"
        }, {
          "type" : "object",
          "properties" : {
            "u_email" : {
              "type" : "string",
              "description" : "E-mail"
            },
            "u_sex" : {
              "type" : "integer",
              "description" : "Пол (0 - не указан, 1 - муж., 2 - жен.)"
            },
            "u_fax" : {
              "type" : "string",
              "description" : "Факс (для юр. лица)"
            },
            "u_phone" : {
              "type" : "string",
              "description" : "Телефон"
            },
            "u_phone_mobile" : {
              "type" : "string",
              "description" : "Телефон (мобильный)"
            },
            "u_phone_home" : {
              "type" : "string",
              "description" : "Телефон (домашний) (для физ. лица)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_passport"
        }, {
          "$ref" : "#/components/schemas/kit_foreign_passport"
        }, {
          "type" : "object",
          "properties" : {
            "u_birthday" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
              "type" : "string",
              "description" : "Дата рождения"
            },
            "u_birthday_place" : {
              "type" : "string",
              "description" : "Место рождения"
            },
            "u_birthday_certificate" : {
              "type" : "string",
              "description" : "Свидетельство о рождении"
            },
            "manager_id" : {
              "type" : "integer",
              "description" : "Прикрепленный менеджер (id)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_snet_messengers"
        }, {
          "type" : "object",
          "properties" : {
            "u_image" : {
              "type" : "string",
              "description" : "Фото пользователя (URL)"
            },
            "u_note" : {
              "type" : "string",
              "description" : "Примечание (заметка)"
            },
            "timezone" : {
              "type" : "string",
              "description" : "Часовой пояс (относительно UTC/GMT)"
            },
            "source_id" : {
              "type" : "integer",
              "description" : "ID туриста \\ компании, который привел добавляемого туриста"
            },
            "u_position" : {
              "type" : "string",
              "description" : "Должность (для юр. лица)"
            },
            "u_manager_status" : {
              "type" : "integer"
            },
            "u_company" : {
              "type" : "string",
              "description" : "Название компании"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_requisites"
        }, {
          "type" : "object",
          "properties" : {
            "address" : {
              "type" : "string",
              "description" : "Адрес (регистрации)"
            },
            "address_juridical" : {
              "type" : "string",
              "description" : "Адрес (юридический)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_bank"
        }, {
          "type" : "object",
          "properties" : {
            "delivery_subscription" : {
              "type" : "integer",
              "description" : "Согласие на получение массовых рассылок (0 - Нет, 1 - Да)"
            },
            "bcard_id" : {
              "type" : "integer",
              "description" : "Бонусная карта (Id)"
            },
            "bcard_number" : {
              "type" : "string",
              "description" : "Бонусная карта (Номер)"
            },
            "bcard_value" : {
              "type" : "integer",
              "description" : "Бонусная карта (Количество бонусов на карте)"
            },
            "role_id" : {
              "type" : "integer",
              "description" : "Группа доступа"
            },
            "office_id" : {
              "type" : "integer",
              "description" : "Офис (Id)"
            },
            "active" : {
              "type" : "integer",
              "description" : "Отметка активности учетной записи (0 - Нет, 1 - Да)"
            },
            "deleted" : {
              "type" : "integer",
              "description" : "Отметка удаления учетной записи (0 - Нет, 1 - Да)"
            },
            "ip_internal_number" : {
              "type" : "string",
              "description" : "Внутренний номер IP-телефонии"
            },
            "labels" : {
              "type" : "string",
              "description" : "Метки (Один или несколько вариантов, через запятую)"
            },
            "u_date_update" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
              "type" : "string",
              "description" : "Дата обновления"
            },
            "cabinet_created" : {
              "type" : "integer",
              "description" : "Отметка создания личного кабинета (0 - отсутствует, 1 - создан)"
            },
            "cabinet_created_date" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
              "type" : "string",
              "description" : "Дата создания личного кабинета"
            },
            "nationality_id" : {
              "type" : "integer",
              "description" : "Страна (Id)"
            },
            "nationality" : {
              "type" : "string",
              "description" : "Страна"
            }
          }
        } ]
      },
      "model_user_simple" : {
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "u_id" : {
              "type" : "string",
              "description" : "ID"
            },
            "u_type" : {
              "type" : "string",
              "description" : "Тип записи (1 - физ.лицо, 2 - юр.лицо, 3 - турагентство)"
            },
            "tourist_kind" : {
              "type" : "string",
              "description" : "Обращение (0 - не заполнено, 1 - Mr., 2 - Mrs., 3 - Miss, 4 - Child, 5 - Infant)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_user_names"
        }, {
          "type" : "object",
          "properties" : {
            "u_email" : {
              "type" : "string",
              "description" : "E-mail"
            },
            "u_sex" : {
              "type" : "string",
              "description" : "Пол (0 - не указан, 1 - муж., 2 - жен.)"
            },
            "u_phone" : {
              "type" : "string",
              "description" : "Телефон"
            },
            "u_phone_mobile" : {
              "type" : "string",
              "description" : "Телефон (мобильный)"
            },
            "u_phone_home" : {
              "type" : "string",
              "description" : "Телефон (домашний) (для физ. лица)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_passport"
        }, {
          "$ref" : "#/components/schemas/kit_foreign_passport"
        }, {
          "type" : "object",
          "properties" : {
            "u_date_update" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
              "type" : "string",
              "description" : "Дата обновления"
            },
            "u_birthday" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
              "type" : "string",
              "description" : "Дата рождения"
            },
            "u_birthday_place" : {
              "type" : "string",
              "description" : "Место рождения"
            },
            "u_birthday_certificate" : {
              "type" : "string",
              "description" : "Свидетельство о рождении"
            },
            "manager_id" : {
              "type" : "string",
              "description" : "Прикрепленный менеджер (id)"
            }
          }
        } ]
      },
      "model_user_update" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/kit_user_names"
        }, {
          "type" : "object",
          "properties" : {
            "u_email" : {
              "type" : "string",
              "description" : "E-mail"
            },
            "u_sex" : {
              "type" : "string",
              "description" : "Пол ( m - муж., f - жен.)"
            },
            "u_fax" : {
              "type" : "string",
              "description" : "Факс (для юр. лица)"
            },
            "u_phone" : {
              "type" : "string",
              "description" : "Телефон"
            },
            "u_phone_mobile" : {
              "type" : "string",
              "description" : "Телефон (мобильный)"
            },
            "u_passport_number" : {
              "type" : "string",
              "description" : "Гражданский паспорт (серия и номер)"
            },
            "u_passport_taken" : {
              "type" : "string",
              "description" : "Гражданский паспорт (кем выдан)"
            },
            "u_passport_date" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2}",
              "type" : "string",
              "description" : "Гражданский паспорт (дата выдачи)"
            },
            "u_zagran_number" : {
              "type" : "string",
              "description" : "Загранпаспорт (серия и номер)"
            },
            "u_zagran_given" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2}",
              "type" : "string",
              "description" : "Загранпаспорт (дата выдачи)"
            },
            "u_zagran_expire" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2}",
              "type" : "string",
              "description" : "Загранпаспорт (дата действия)"
            },
            "u_zagran_organization" : {
              "type" : "string",
              "description" : "Загранпаспорт (кем выдан)"
            },
            "u_birthday" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2}",
              "type" : "string",
              "description" : "Дата рождения"
            },
            "u_birthday_place" : {
              "type" : "string",
              "description" : "Место рождения"
            },
            "u_birthday_certificate" : {
              "type" : "string",
              "description" : "Свидетельство о рождении"
            },
            "u_birthday_certificate_given" : {
              "pattern" : "\\d{4}-\\d{2}-\\d{2}",
              "type" : "string",
              "description" : "Свидетельство о рождении (дата выдачи)"
            },
            "u_birthday_certificate_organization" : {
              "type" : "string",
              "description" : "Свидетельство о рождении (кем выдано)"
            },
            "u_manager_id" : {
              "type" : "string",
              "description" : "Прикрепленный менеджер (id)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_snet_messengers"
        }, {
          "type" : "object",
          "properties" : {
            "u_note" : {
              "type" : "string",
              "description" : "Примечание (заметка)"
            },
            "u_source" : {
              "type" : "integer",
              "description" : "ID туриста \\ компании, который привел добавляемого туриста"
            },
            "u_company" : {
              "type" : "string",
              "description" : "Название компании"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_requisites"
        }, {
          "type" : "object",
          "properties" : {
            "u_address" : {
              "type" : "string",
              "description" : "Адрес (регистрации)"
            },
            "u_address_u" : {
              "type" : "string",
              "description" : "Адрес (юридический)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_bank"
        }, {
          "type" : "object",
          "properties" : {
            "u_discount_card_number" : {
              "type" : "string",
              "description" : "Бонусная карта (Номер)"
            },
            "u_discount_card_bonus" : {
              "type" : "integer",
              "description" : "Бонусная карта (Количество бонусов на карте)"
            },
            "u_office_id" : {
              "type" : "integer",
              "description" : "Офис (Id)"
            },
            "u_labels" : {
              "type" : "string",
              "description" : "Метки (Один или несколько вариантов, через запятую)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/kit_extended_fields"
        } ]
      },
      "kit_user_names" : {
        "type" : "object",
        "properties" : {
          "u_surname" : {
            "type" : "string",
            "description" : "Фамилия туриста / контактного лица"
          },
          "u_name" : {
            "type" : "string",
            "description" : "Имя туриста / контактного лица"
          },
          "u_sname" : {
            "type" : "string",
            "description" : "Отчество туриста / контактного лица"
          },
          "u_surname_en" : {
            "type" : "string",
            "description" : "Фамилия туриста / контактного лица (латиницей)"
          },
          "u_name_en" : {
            "type" : "string",
            "description" : "Имя туриста / контактного лица (латиницей)"
          }
        }
      },
      "kit_passport" : {
        "type" : "object",
        "properties" : {
          "u_passport_number" : {
            "type" : "string",
            "description" : "Гражданский паспорт (серия и номер)"
          },
          "u_passport_taken" : {
            "type" : "string",
            "description" : "Гражданский паспорт (кем выдан)"
          },
          "u_passport_date" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Гражданский паспорт (дата выдачи)"
          }
        }
      },
      "kit_foreign_passport" : {
        "type" : "object",
        "properties" : {
          "u_zagran_number" : {
            "type" : "string",
            "description" : "Загранпаспорт (серия и номер)"
          },
          "u_zagran_given" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Загранпаспорт (дата выдачи)"
          },
          "u_zagran_expire" : {
            "pattern" : "\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}",
            "type" : "string",
            "description" : "Загранпаспорт (дата действия)"
          },
          "u_zagran_organization" : {
            "type" : "string",
            "description" : "Загранпаспорт (кем выдан)"
          }
        }
      },
      "kit_snet_messengers" : {
        "type" : "object",
        "properties" : {
          "u_social_vk" : {
            "type" : "string",
            "description" : "Аккаунт во Вконтакте"
          },
          "u_social_fb" : {
            "type" : "string",
            "description" : "Аккаунт в Facebook"
          },
          "u_social_ok" : {
            "type" : "string",
            "description" : "Аккаунт в Одноклассниках"
          },
          "u_telegram" : {
            "type" : "string",
            "description" : "Аккаунт в Telegram"
          },
          "u_whatsapp" : {
            "type" : "string",
            "description" : "Аккаунт в Whatsapp"
          },
          "u_viber" : {
            "type" : "string",
            "description" : "Аккаунт в Viber"
          },
          "u_instagram" : {
            "type" : "string",
            "description" : "Аккаунт в Instagram"
          }
        }
      },
      "kit_requisites" : {
        "type" : "object",
        "properties" : {
          "u_inn" : {
            "type" : "string",
            "description" : "ИНН"
          },
          "u_kpp" : {
            "type" : "string",
            "description" : "КПП"
          },
          "u_ogrn" : {
            "type" : "string",
            "description" : "ОГРН"
          },
          "u_okved" : {
            "type" : "string",
            "description" : "ОКВЭД"
          }
        }
      },
      "kit_bank" : {
        "type" : "object",
        "properties" : {
          "u_finance_bank" : {
            "type" : "string",
            "description" : "Наименование банка"
          },
          "u_finance_rs" : {
            "type" : "string",
            "description" : "Р/с"
          },
          "u_finance_ks" : {
            "type" : "string",
            "description" : "К/с"
          },
          "u_finance_bik" : {
            "type" : "string",
            "description" : "БИК"
          },
          "u_finance_okpo" : {
            "type" : "string",
            "description" : "ОКПО"
          }
        }
      },
      "kit_extended_fields" : {
        "type" : "object",
        "properties" : {
          "extended_fields" : {
            "type" : "array",
            "description" : "Дополнительные поля (см.метод /extended_field)",
            "items" : {
              "$ref" : "#/components/schemas/kit_extended_fields_extended_fields"
            }
          }
        }
      },
      "400_bad_request" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "integer",
            "example" : 400
          },
          "message" : {
            "type" : "string",
            "example" : "Bad Request"
          }
        },
        "description" : "Ошибка в запросе"
      },
      "404_empty_field" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "integer",
            "example" : 404
          },
          "message" : {
            "type" : "string",
            "example" : "Field <_____> is empty"
          }
        },
        "description" : "Не заполнено обязательное поле"
      },
      "404_wrong_key" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "integer",
            "example" : 404
          },
          "message" : {
            "type" : "string",
            "example" : "Partner key is wrong"
          }
        },
        "description" : "Партнерский ключ неверен"
      },
      "500_internal_error" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "integer",
            "example" : 500,
            "xml" : {
              "attribute" : true
            }
          },
          "message" : {
            "type" : "string",
            "example" : "Internal Server Error",
            "xml" : {
              "attribute" : true
            }
          }
        },
        "description" : "Внутренняя ошибка сервера"
      },
      "inline_response_404" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "integer",
            "example" : 404
          },
          "message" : {
            "type" : "string",
            "example" : "Partner key is wrong"
          }
        }
      },
      "inline_response_200" : {
        "type" : "object",
        "properties" : {
          "records" : {
            "type" : "array",
            "items" : {
              "allOf" : [ {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "integer",
                    "description" : "Id"
                  }
                }
              }, {
                "$ref" : "#/components/schemas/country"
              }, {
                "type" : "object",
                "properties" : {
                  "name_aliases" : {
                    "type" : "string",
                    "description" : "Id"
                  }
                }
              } ]
            }
          }
        },
        "description" : "Список стран"
      },
      "body" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/country"
        }, {
          "required" : [ "name" ]
        } ]
      },
      "inline_response_200_1" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "integer",
            "example" : 200
          },
          "id" : {
            "type" : "string",
            "example" : "11"
          }
        }
      },
      "inline_response_404_1" : {
        "oneOf" : [ {
          "$ref" : "#/components/schemas/404_wrong_key"
        }, {
          "$ref" : "#/components/schemas/404_empty_field"
        } ]
      },
      "inline_response_200_2" : {
        "type" : "object",
        "properties" : {
          "users" : {
            "type" : "array",
            "items" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/model_user_main"
              }, {
                "$ref" : "#/components/schemas/kit_extended_fields"
              } ]
            }
          }
        }
      },
      "inline_response_500" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/500_internal_error"
          }
        }
      },
      "inline_response_200_3" : {
        "type" : "object",
        "properties" : {
          "users" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/model_user_main"
            }
          }
        }
      },
      "inline_response_200_4" : {
        "type" : "object",
        "properties" : {
          "users" : {
            "type" : "array",
            "items" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/model_user_simple"
              }, {
                "type" : "object",
                "properties" : {
                  "source_id" : {
                    "type" : "string",
                    "description" : "ID туриста \\ компании, который привел добавляемого туриста"
                  },
                  "delivery_subscription" : {
                    "type" : "string",
                    "description" : "Согласие на получение массовых рассылок (0 - Нет, 1 - Да)"
                  },
                  "nationality_id" : {
                    "type" : "string",
                    "description" : "Страна (Id)"
                  },
                  "nationality" : {
                    "type" : "string",
                    "description" : "Страна"
                  }
                }
              } ]
            }
          }
        }
      },
      "body_1" : {
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "E-mail"
          }
        }
      },
      "inline_response_400" : {
        "type" : "object",
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/400_bad_request"
          }
        }
      },
      "body_2" : {
        "type" : "object",
        "properties" : {
          "vkontakte" : {
            "type" : "string",
            "description" : "Аккаунт во Вконтакте"
          },
          "facebook" : {
            "type" : "string",
            "description" : "Аккаунт в Facebook"
          },
          "odnoklassniki" : {
            "type" : "string",
            "description" : "Аккаунт в Одноклассниках"
          },
          "telegram" : {
            "type" : "string",
            "description" : "Аккаунт в Telegram"
          },
          "whatsapp" : {
            "type" : "string",
            "description" : "Аккаунт в Whatsapp"
          },
          "viber" : {
            "type" : "string",
            "description" : "Аккаунт в Viber"
          },
          "instagram" : {
            "type" : "string",
            "description" : "Аккаунт в Instagram"
          },
          "label_ids" : {
            "type" : "string",
            "description" : "ID меток через запятую"
          },
          "part_match" : {
            "type" : "integer",
            "description" : "Полное совпадение (по-умолчанию) или частичное (=1)"
          },
          "page" : {
            "type" : "integer",
            "description" : "Номер страницы выдачи (по-умолчанию, 1)"
          }
        }
      },
      "inline_response_200_5" : {
        "type" : "object",
        "properties" : {
          "users" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/model_user_main"
            }
          },
          "count_all" : {
            "type" : "integer",
            "description" : "Найдено записей"
          }
        }
      },
      "inline_response_200_6" : {
        "type" : "object",
        "properties" : {
          "user" : {
            "type" : "array",
            "items" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/model_user_main"
              }, {
                "$ref" : "#/components/schemas/kit_extended_fields"
              } ]
            }
          }
        }
      },
      "body_3" : {
        "type" : "object",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "u_password" : {
              "type" : "string",
              "description" : "Пароль туриста / контактного лица"
            },
            "u_type" : {
              "type" : "integer",
              "description" : "Тип записи (1 - физ.лицо, 2 - юр.лицо, 3 - турагентство)"
            },
            "u_tk_id" : {
              "type" : "integer",
              "description" : "Обращение (0 - не заполнено, 1 - Mr., 2 - Mrs., 3 - Miss, 4 - Child, 5 - Infant)"
            },
            "nationality_id" : {
              "type" : "integer",
              "description" : "Страна (Id)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/model_user_update"
        } ]
      },
      "body_4" : {
        "type" : "object",
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "u_phone_home" : {
              "type" : "string",
              "description" : "Телефон (домашний) (для физ. лица)"
            }
          }
        }, {
          "$ref" : "#/components/schemas/model_user_update"
        } ]
      },
      "manager_users" : {
        "type" : "object",
        "properties" : {
          "global_u_id" : {
            "type" : "integer",
            "description" : "Global ID"
          },
          "u_id" : {
            "type" : "integer",
            "description" : "ID"
          },
          "u_type" : {
            "type" : "integer",
            "description" : "Тип записи (1 - физ.лицо, 2 - юр.лицо, 3 - турагентство)"
          },
          "u_surname" : {
            "type" : "string",
            "description" : "Фамилия"
          },
          "u_name" : {
            "type" : "string",
            "description" : "Имя"
          },
          "u_sname" : {
            "type" : "string",
            "description" : "Отчество"
          },
          "u_surname_en" : {
            "type" : "string",
            "description" : "Фамилия (англ.)"
          },
          "u_name_en" : {
            "type" : "string",
            "description" : "Имя (англ.)"
          },
          "u_email" : {
            "type" : "string",
            "description" : "E-mail"
          },
          "u_sex" : {
            "type" : "integer",
            "description" : "Пол (0 - не указан, 1 - муж., 2 - жен.)"
          },
          "u_phone" : {
            "type" : "string",
            "description" : "Телефон"
          },
          "u_phone_mobile" : {
            "type" : "string",
            "description" : "Телефон (мобильный)"
          },
          "u_phone_home" : {
            "type" : "string",
            "description" : "Телефон (домашний)"
          },
          "u_passport_number" : {
            "type" : "string",
            "description" : "Гражданский паспорт (серия и номер)"
          },
          "u_passport_taken" : {
            "type" : "string",
            "description" : "Гражданский паспорт (кем выдан)"
          },
          "u_zagran_number\"" : {
            "type" : "string",
            "description" : "Загранпаспорт (серия и номер)"
          },
          "u_birthday" : {
            "type" : "string",
            "description" : "День рождения",
            "format" : "date-time"
          },
          "manager_id" : {
            "type" : "integer",
            "description" : "Прикрепленный менеджер"
          },
          "u_social_vk" : {
            "type" : "string",
            "description" : "Аккаунт во Вконтакте"
          },
          "u_social_fb" : {
            "type" : "string",
            "description" : "Аккаунт в Facebook"
          },
          "u_social_ok" : {
            "type" : "string",
            "description" : "Аккаунт в Одноклассниках"
          },
          "u_telegram" : {
            "type" : "string",
            "description" : "Аккаунт в Telegram"
          },
          "u_whatsapp" : {
            "type" : "string",
            "description" : "Аккаунт в Whatsapp"
          },
          "u_viber" : {
            "type" : "string",
            "description" : "Аккаунт в Viber"
          },
          "u_instagram" : {
            "type" : "string",
            "description" : "Аккаунт в Instagram"
          },
          "u_image" : {
            "type" : "string",
            "description" : "Фото пользователя (URL)"
          },
          "u_note" : {
            "type" : "string",
            "description" : "Примечание"
          },
          "timezone" : {
            "type" : "string",
            "description" : "Часовой пояс (относительно UTC/GMT)"
          },
          "source_id" : {
            "type" : "integer",
            "description" : "Кто привел (Id)"
          },
          "u_position" : {
            "type" : "string",
            "description" : "Должность"
          },
          "u_manager_status" : {
            "type" : "integer"
          },
          "u_company" : {
            "type" : "string",
            "description" : "Название компании (для юр.лица)"
          },
          "delivery_subscription" : {
            "type" : "integer",
            "description" : "Согласие на получение массовых рассылок"
          },
          "role_id" : {
            "type" : "integer",
            "description" : "Группа доступа"
          },
          "office_id" : {
            "type" : "integer",
            "description" : "ID офиса"
          },
          "active" : {
            "type" : "integer",
            "description" : "Активная учетная запись (0 - Нет, 1 - Да)"
          },
          "deleted" : {
            "type" : "integer",
            "description" : "Удаленная учетная запись (0 - Нет, 1 - Да)"
          },
          "ip_internal_number" : {
            "type" : "string",
            "description" : "Внутренний номер IP-телефонии"
          },
          "u_date_update" : {
            "type" : "string",
            "description" : "Дата и время последнего обновления записи",
            "format" : "date-time"
          },
          "cabinet_created" : {
            "type" : "integer",
            "description" : "Личный кабинет (0 - отсутствует, 1 - создан)"
          },
          "cabinet_created_date" : {
            "type" : "string",
            "description" : "Личный кабинет (дата создания)",
            "format" : "date-time"
          },
          "my_new_lead_notification" : {
            "type" : "integer",
            "description" : "Уведомление при создании обращения(Менеджер указан ответственным в обращении)"
          },
          "any_new_lead_notification" : {
            "type" : "integer",
            "description" : "Уведомление при создании обращения (По ВСЕМ обращениям, независимо от прикрепленного менеджера)"
          },
          "my_new_request_notification" : {
            "type" : "integer",
            "description" : "Уведомление при создании заявки (Менеджер указан ответственным в заявке)"
          },
          "any_new_request_notification" : {
            "type" : "integer",
            "description" : "Уведомление при создании заявки (По ВСЕМ заявкам, независимо от прикрепленного менеджера)"
          }
        }
      },
      "kit_extended_fields_extended_fields" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "Id"
          },
          "value" : {
            "type" : "string",
            "description" : "Значение"
          }
        }
      }
    },
    "responses" : {
      "200_result_id" : {
        "description" : "Успешное выполнение",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_200_1"
            }
          }
        }
      },
      "400_bad_request" : {
        "description" : "Ошибка в запросе",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/400_bad_request"
            }
          }
        }
      },
      "400_bad_request_in" : {
        "description" : "Ошибка в запросе",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_400"
            }
          }
        }
      },
      "404_empty_field" : {
        "description" : "Не заполнено обязательное поле",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "result" : {
                  "type" : "integer",
                  "example" : 404
                },
                "message" : {
                  "type" : "string",
                  "example" : "Field <_____> is empty"
                }
              }
            }
          }
        }
      },
      "404_wrong_key" : {
        "description" : "Партнерский ключ неверен",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_404"
            }
          }
        }
      },
      "500_internal_error" : {
        "description" : "Внутренняя ошибка сервера (Note! Header status - 404 Not Found)",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/500_internal_error"
            }
          }
        }
      },
      "500_internal_error_in" : {
        "description" : "Внутренняя ошибка сервера (Note! Header status - 404 Not Found)",
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_500"
            }
          }
        }
      }
    },
    "parameters" : {
      "keyParam" : {
        "name" : "key",
        "in" : "path",
        "description" : "API-ключ",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      },
      "formatParam" : {
        "name" : "_format",
        "in" : "path",
        "description" : "Формат выдачи результатов (json|xml)",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string",
          "enum" : [ "json", "xml" ]
        }
      },
      "idParam" : {
        "name" : "id",
        "in" : "path",
        "description" : "ID",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "integer"
        }
      },
      "pageParam" : {
        "name" : "page",
        "in" : "path",
        "description" : "Страница результатов (по 100 записей)",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "integer"
        }
      },
      "dateFromParam" : {
        "name" : "date_from",
        "in" : "path",
        "description" : "Дата последнего обновления туриста (от)",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "pattern" : "\\d{4}-\\d{2}-\\d{2}",
          "type" : "string",
          "format" : "date"
        }
      },
      "dateToParam" : {
        "name" : "date_to",
        "in" : "path",
        "description" : "Дата последнего обновления туриста (до)",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "pattern" : "\\d{4}-\\d{2}-\\d{2}",
          "type" : "string",
          "format" : "date"
        }
      },
      "phoneParam" : {
        "name" : "phone",
        "in" : "path",
        "description" : "Номер телефона",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "pattern" : "^\\+\\d*$|^\\d*$",
          "type" : "string",
          "format" : "date"
        }
      }
    }
  }
}